[2016-10-17 18:20] jeremymanning opened #2 "specify plot styles"
Feature request: in plot_coords.py, add ability to assign multiple plot styles to a list of trajectories (like MATLAB version)

[2016-10-17 18:29] jeremymanning opened #3 "add interactive javascript plots"
feature request: have plots outputted as web apps or javascript figures

[2016-10-17 19:04] jeremymanning opened #4 "verify that nothing broke after pull request"
re-test all of the use cases we can think of in plot_coords and hyperalign to make sure nothing broke during the merge

[2016-10-18 12:43] #4 closed, assigned to KirstensGitHub

[2016-11-01 15:45] jeremymanning opened #5 "feature request: streaming data"
support streaming data-- @KirstensGitHub had found a package for this (maybe it's already integrated).  i think we want to specify:

- [x] a data file to get data from
- [x] an initialization interval to compute PCA transform from
- [ ] an update interval; new data since last read should be read in, transformed using the PCA transformation, and added to the plot

we may also want to allow the user

[2016-11-11 19:25] jeremymanning opened #6 "datapoint labels"
idea: to facilitate interpretation, allow use to pass in lists of datapoint labels.  plot the datapoint labels near each datapoint (e.g. next to) in a small font...or in a user-specified font

[2016-11-15 17:31] andrewheusser opened #8 "Rewrite plot_1to2_list function?"
in plot_coords.py, lines 151-159, what is the purpose of plot_1to2_list?

@KirstensGitHub can you clarify, and if we aren't using it remove it from the code? Thanks!

[2016-11-15 17:40] jeremymanning opened #9 "writeup"
After our OpenBCI Hackathon and whatever other polishing we want to do, we should write this up as a brief report in an appropriate forum (e.g. Nature Methods, Journal of Neuroscience Methods, arXiv, PLoS One), and then we should release the code.  We should show how we can visualize a few interesting public datasets and use those visualizations to gain insights into the structure of the data.  (T

[2016-11-28 14:35] #8 closed, assigned to nobody

[2016-11-28 14:41] jeremymanning opened #13 "code cleanup"
Before releasing this toolbox, we need to do a substantial code cleanup.  This includes:

- [x] ensuring that all function names are clearly named and/or documented

- [x] ensuring that all variable and function names use consistent conventions

- [x] ensuring that the code is written as clearly and succinctly as possible

- [x] creating some test datasets and a battery of unit tests (one for each

[2016-11-28 14:55] #2 closed, assigned to andrewheusser, jeremymanning, KirstensGitHub

[2016-11-30 14:07] andrewheusser opened #14 "categories flag"
After playing around with coloring, I thought it would make sense to add a 'categories' keyword argument to plot_coords that takes a list of category labels, and then automatically colors according to those labels.  e.g. `plot_coords.plot_coords(x,categories=[['a','b','c'],['a','b','c']])`

@jeremymanning what do you think?

[2016-11-30 14:15] andrewheusser opened #15 "extend colors api"
Currently, colors can only be specified by list. e.g. `plot_coords.plot_coords([x[0],x[1]],color=['r','g'])` but there are cases where we may want to specify the color per dot.  Any ideas about how to add this functionality?

[2016-12-01 22:33] #15 closed, assigned to nobody

[2016-12-01 22:33] #14 closed, assigned to nobody

[2016-12-01 22:34] #6 closed, assigned to nobody

[2016-12-01 23:45] andrewheusser opened #18 "add unit tests"

[2016-12-12 15:11] jeremymanning opened #19 "fonts are saved as paths rather than text"
When saving figures as PDFs, the text gets converted to paths rather than being saved as editable text.  This is related to the stackoverflow issue here: http://stackoverflow.com/questions/14600948/matplotlib-plot-outputs-text-as-paths-and-cannot-be-converted-to-latex-by-inks

It looks like it can be solved by adding the following line:
`matplotlib.rcParams['svg.fonttype'] = 'none'`

[2016-12-12 19:57] andrewheusser opened #20 "saving animations requires FFMPEG"
matplotlib depends on ffmpeg to save animations, but ffmpeg is annoying to install.  other options?

[2016-12-12 23:32] andrewheusser opened #21 "rename repo?"
What do you think about renaming the repo to hypertools (instead of hyper-tools).  Not a big deal either way, but without the hyphen is simpler

[2016-12-13 00:04] andrewheusser opened #22 "choose a license"
we should do this before releasing into the wild

[2016-12-13 22:26] KirstensGitHub opened #23 "colors with animate"
not working...
hyp.plot([HRC_data,Trump_data],color=['blue','red'])

[2016-12-14 15:49] andrewheusser opened #24 "deal with nans"
deal with it.

[2016-12-14 15:50] andrewheusser opened #25 "add legend option"
to movie plot as well?

[2016-12-14 19:54] jeremymanning opened #26 "hyperalignment isn't working correctly"
As we explored today, hyperalignment in both the Python and Matlab toolboxes seems to be broken.  I propose replacing our implementations with existing implementations that are already known to work.  One option is to use the SRM model in the BrainIAK toolbox: https://github.com/IntelPNI/brainiak/blob/master/brainiak/funcalign/srm.py

Another option is to use the Hyperalignment implementation from

[2016-12-17 20:42] #24 closed, assigned to nobody

[2016-12-17 20:42] #26 closed, assigned to swaroopgj, andrewheusser

[2016-12-18 14:35] jeremymanning opened #33 "dealing with nans"
For the PPCA demo, I recommend generating two datasets:

1.) First generate a well-structured covariance matrix:

`from scipy.linalg import toeplitz`
`import numpy as np`
`K = 10 - toeplitz(np.arange(10))`

2.) Now generate a first dataset (a random walk with the given covariance matrix)

`data1 = np.cumsum(np.random.multivariate_normal(np.zeros(10), K, 250), axis=0)`

3.) Now copy the first datas

[2016-12-19 15:57] andrewheusser opened #34 "utilities module"
A module that houses utility functions useful for hypertools.  Instead of attaching directly to the hypertools class, we could keep things organized by nesting these functions in a 'utils' module.

Proposed API:

[code]

Thoughts?

[2016-12-19 21:45] #23 closed, assigned to nobody

[2016-12-19 22:05] #34 closed, assigned to nobody

[2016-12-19 22:06] jeremymanning opened #36 "remove *.pyc files"
minor thing-- some .pyc are making their way into the repository.  we should delete them and .gitignore them.

[2016-12-19 22:09] #36 closed, assigned to andrewheusser

[2016-12-19 22:10] #33 closed, assigned to andrewheusser

[2016-12-19 22:44] #20 closed, assigned to nobody

[2016-12-19 22:54] #21 closed, assigned to nobody

[2016-12-19 23:04] #19 closed, assigned to andrewheusser, KirstensGitHub

[2016-12-19 23:14] #22 closed, assigned to nobody

[2016-12-20 21:05] andrewheusser opened #37 "point_colors takes a really long time on large datasets"
I was trying to plot a dataset with ~8,000 rows and it seemed to get hung up on val2colors during the ranking of the data: `ranks = list(map(lambda x: sum([val <= x for val in vals]),vals))`

I think this is because val2colors is automatically called if type(point_colors) is numeric.  If I pass string labels, the operation is super quick.  Thoughts on how t deal with this?

[2016-12-21 14:35] #37 closed, assigned to nobody

[2016-12-21 15:27] andrewheusser opened #38 "feature request: select points and return indices"
A neat feature would be the ability to highlight points and return their indices.  This could be done by clicking, but more efficiently with a selection box or circle.  This could be used to identify clusters in the data and interrogate further, or style them differently..

maybe a v2 feature?

[2016-12-23 00:45] andrewheusser opened #39 "parse pandas dataframe"
We could add this in the next release, but I think it would add a ton of value to add right off the bat.  Many people use pandas to sift through multidimensional data, so I am thinking it could catch on with the data science community if we support dataframes as input. thoughts?

[2016-12-23 13:30] andrewheusser opened #40 "jupyter 'inline' flag"
a flag that indicates if hypertools is running in an ipython/jupyter notebook, and changes the display settings accordingly.  This would allow for inline animations etc

[2016-12-23 21:47] andrewheusser opened #43 "camera zoom computation is off"
cant seem to figure out what the deal is. @jeremymanning can you take a look? its in:

hypertools/plot/animate.py line 44-47, and line 77

[2016-12-24 02:05] jeremymanning opened #44 "MATLAB code: what should we do about it?"
Should we maintain separate MATLAB and Python codebases?  The original MATLAB code is already released here: https://www.mathworks.com/matlabcentral/fileexchange/56623-hyperplot-tools

The current Python toolbox goes way beyond the original MATLAB code, and our lab is no longer using MATLAB anyway.  So I'm inclined to have us remove the MATLAB code from this repository and just have it be a Python

[2016-12-24 02:25] #25 closed, assigned to nobody

[2016-12-26 14:16] #40 closed, assigned to nobody

[2016-12-26 14:18] #39 closed, assigned to nobody

[2016-12-26 14:36] #3 closed, assigned to andrewheusser

[2016-12-26 17:37] jeremymanning opened #46 "support pandas dataframes"
added to the issues list so that we have an accurate estimate on the v1 progress.  please close when the pandas pull request has been merged.

[2016-12-27 02:46] #5 closed, assigned to andrewheusser, jeremymanning, KirstensGitHub

[2016-12-27 02:47] #46 closed, assigned to andrewheusser

[2016-12-27 02:49] #38 closed, assigned to nobody

[2016-12-27 02:50] #44 closed, assigned to andrewheusser, jeremymanning, KirstensGitHub

[2017-01-02 17:11] andrewheusser opened #48 "rollback version for beta release"
It might be good to set the version to 0.9.x to indicate we are in beta mode, and then when we are comfortable that the package is stable, bump up to 1.0.0, thoughts?

[2017-01-02 18:20] #43 closed, assigned to nobody

[2017-01-02 18:39] #13 closed, assigned to andrewheusser, jeremymanning, KirstensGitHub

[2017-01-02 18:40] #18 closed, assigned to nobody

[2017-01-02 18:41] #48 closed, assigned to jeremymanning

[2017-01-02 18:41] andrewheusser opened #49 "integrate travis-ci"
wrote to the company about getting a free account on a private repo until we release publicly soon

[2017-01-02 19:18] andrewheusser opened #50 "PCA implementation doesn't appear to normalize features before reducing"
this is important if there are mean/variance differences between the columns of features.  One possibility is that we could z-score the columns before PCA automatically (with a flag to turn it off), or conversely off with the option to turn it on.  Another option would be to print a warning when there are large differences in mean/var between cols.

[2017-01-02 23:27] jeremymanning opened #51 "demo scripts: naming and paths"
all of the demo scripts have names that start with `hypertools_demo-`, which is redundant.  i propose removing `hypertools_demo-` from each script name.

also, some of the paths are relative rather than absolute.  for example, the `sample_data` folder is only visible within the `examples` folder, but it is referenced using relative paths.  this causes some of the demo functions (e.g. `hypertools_d

[2017-01-03 02:55] #51 closed, assigned to nobody

[2017-01-03 02:58] #50 closed, assigned to nobody

[2017-01-03 03:00] andrewheusser opened #52 "write tests for hyp.util.normalize"
as well as hyp.plot(x, normalize=..) and hyp.util.reduce(x, normalize=..)

[2017-01-03 13:36] andrewheusser opened #53 "replace animation with simulation?"
the current animation is based off of data that is aligned with a buggy version of hyperalign.  however, it nicely highlights the animation feature.  Do we want to replace this animation with something else?  Perhaps a simulation that looks similar?

[2017-01-03 15:33] andrewheusser opened #54 "util -> tools?"
Not super important, but since we are calling the package hypertools, maybe instead of a util module, we could rename it tools, i.e. `hyp.tools.align(x)`

@jeremymanning @KirstensGitHub what do you think?

[2017-01-03 16:44] #53 closed, assigned to nobody

[2017-01-03 21:19] #54 closed, assigned to nobody

[2017-01-03 21:36] #52 closed, assigned to nobody

[2017-01-04 18:33] #49 closed, assigned to nobody

[2017-01-05 19:13] lucywowen opened #56 "explore mode doesn't work in 2D"
AssertionError: distance: point.shape is wrong: 2, must be (3,)

[2017-01-06 16:29] KirstensGitHub opened #57 "animation settings (speed & tail length)"
might be interesting to :

-let user input speed option and tail length
-default tail length to be a proportion of the dataset's overall length (only within a reasonable range to avoid weird looking issues with very small or very large datasets)

[2017-01-06 16:31] andrewheusser opened #58 "check pymvpa license for procrustes"
need to make sure its ok to use in the way that we are

[2017-01-06 19:57] #57 closed, assigned to nobody

[2017-01-06 20:01] #56 closed, assigned to nobody

[2017-01-06 20:05] #58 closed, assigned to nobody

[2017-01-06 20:37] lucywowen opened #59 "Path (or Trace) change in opacity"
Leave a faint path or trace in animation.

[2017-01-06 20:57] #59 closed, assigned to nobody

[2017-01-07 14:15] andrewheusser opened #61 "change commit history from joe fink -> kirsten"
[code]

[2017-01-08 14:28] andrewheusser opened #62 "change API for procrustes and reduce"
we want to mirror the scikit learn api i.e.

fit
transform
fit_transform
inverse_transform

[2017-01-13 16:33] andrewheusser opened #63 "point_colors misleading?"
I'm worried that the point_colors kwarg may not be the best name.  Given a list of category labels (or numbers), the array is restructured into a list of arrays.  something like `category` or `group` would be more true to its functionality. thoughts?

[2017-01-13 18:02] #63 closed, assigned to nobody

[2017-01-14 16:06] jeremymanning opened #64 "Hypercube example"
Add an example to the results section showing how a simple high dimensional shape looks when visualized using hyperaligned.

[2017-01-14 16:07] #61 closed, assigned to andrewheusser, KirstensGitHub

[2017-01-18 17:56] #62 closed, assigned to nobody

[2017-01-19 03:44] jeremymanning opened #65 "overleaf formatting is messed up"
when writeup is complete, i'll copy everything to a clean document to try to get formatting issues to go away.  in the mean time i've messily implemented an adjustment of the paper margins so that the text doesn't look crazy, but the figures and tables are still all shifted too far to the right.

https://www.overleaf.com/7651544crgxsftzghby#/26772478/

[2017-01-19 22:23] andrewheusser opened #66 "Normalize=False by default?"
Currently, when calling:

`hyp.plot(data)`

the columns of the data matrix are z-scored by default, across lists.  The user may or may not want to do this, so I propose we leave normalize=False by default. Then the user can easily normalize like so:

`hyp.plot(data,normalize='across') # or within or row`

[2017-01-19 23:09] #66 closed, assigned to nobody

[2017-01-20 16:11] andrewheusser opened #67 "semantic versioning"
after looking at our dependencies version control approaches, and rereading one of the 'rulebooks' on semantic versioning (http://semver.org/spec/v1.0.0.html), I propose that we release the first version of the software as version 0.1.0.

A few reasons for this, but the strongest is that if this is used widely, 1.0.0 is supposed to indicate that the public API will not change, and we may want to c

[2017-01-21 17:54] #65 closed, assigned to jeremymanning

[2017-01-21 18:02] #64 closed, assigned to KirstensGitHub

[2017-01-23 19:31] #67 closed, assigned to andrewheusser

[2017-01-23 19:54] jeremymanning opened #68 "add an ipython notebooks to this project (somehow)"
I'd like us to link our ipython notebook examples with this project somehow.  Some ideas:

+ Add a folder with the ipython notebooks
+ Host the notebooks somewhere else and add a link to that somewhere else in the readme
+ Add links to the ipython notebooks in our hypertools

Another issue we'll need to solve as part of this is to make sure that any links embedded in the notebooks are relative and

[2017-01-24 20:16] jeremymanning opened #69 "andy broke our logo"
https://www.youtube.com/watch?v=NlM3CKXJs5k

[2017-01-24 20:17] #69 closed, assigned to nobody

[2017-01-25 20:45] andrewheusser opened #70 "fix describe_pca axes"
currently, x axis (number of PCA components) in the plot starts at 0, when it should start at 2

[2017-01-26 00:24] jeremymanning opened #71 "submit this puppy"
Proposed plan for submitting on Friday:

Step 1: get both paper and toolbox (including demo ipython notebooks) to a "fully ready" state.  goal: have this step done by 3pm on friday at the latest.  (Andy, Jeremy, Kirsten)
Step 2: submit paper to the arXiv (Jeremy)
Step 3: add link to arXiv paper to readme.md (Andy)
Step 4: flip "public" switch on toolbox (Andy)
Step 5: submit code to pip (Andy)
Ste

[2017-01-26 02:53] andrewheusser opened #72 "n_rots -> rotations?"
we have `duration`, `tail_duration` and `chem_trails` for animation args... `n_rots` seems a little awkward maybe?  proposing we change it to `rotations`

just a thought!

[2017-01-26 03:19] #72 closed, assigned to nobody

[2017-01-26 15:01] #70 closed, assigned to nobody

[2017-01-26 15:23] andrewheusser opened #73 "update citing section in readme when submitted"
the bibtex ref is a placeholder, and the link currently just goes to google

[2017-01-26 17:03] andrewheusser opened #74 "travis.yml slack key"
@jeremymanning when you made this, was it encrypted?  the travis people recommend it for public repos

https://docs.travis-ci.com/user/notifications#Configuring-slack-notifications

[2017-01-26 21:04] andrewheusser opened #75 "update binder and paper links on readme"

[2017-01-27 03:29] #74 closed, assigned to nobody

[2017-01-27 17:29] jeremymanning opened #76 "minor API corrections"
some of the animation options say that `int`s are required, but i think floats are supported too (e.g. animation duration, tail length, etc.)

[2017-01-27 17:37] #76 closed, assigned to andrewheusser

[2017-01-27 22:59] jeremymanning commented on #9
closing...'cause we're awesome

[2017-01-27 22:59] #9 closed

[2017-01-27 23:19] #75 closed

[2017-01-27 23:19] #73 closed

[2017-01-27 23:20] andrewheusser commented on #68
leaving this open until we add tweets

[2017-01-28 00:25] jeremymanning commented on #71
Nice work everyone!

[2017-01-28 00:25] #71 closed

[2017-01-28 11:08] andrewheusser commented on #68
closing this and reopening in the notebook repo

[2017-01-28 11:08] #68 closed

[2017-02-01 16:27] jeremymanning opened #77 "data visualization examples gallery"
Let's come up with a way to have users submit neat looking HyperTools examples along with a paragraph or so of text describing what they've visualized.  Depending on how many we get, we can either show all of them, or pick the coolest ones and (with credit) show them off to the world.

[2017-02-01 16:37] jcheong0428 commented on #77
Hi guys - I'm thinking of trying out Hypertools for our tv-study data with
facial expressions like the one you did with the movie example in the
paper.
Any chance one of you would be willing to give me a quick tutorial perhaps
today or tomorrow?
I can prepare my data in the right format before coming over too.
Thanks for making such a cool toolbox!

Best,
Jin

On Wed, Feb 1, 2017 at 11:27 AM, Jere

[2017-02-01 16:38] jeremymanning opened #78 "streaming data"
I'd also like us to re-visit support for streaming data.  This could be a really powerful way of doing biofeedback experiments, or visualizing any sort of data stream (twitter data, stock market data, weather, etc.).  Now that we have the main toolbox in place, I'd like us to do some brainstorming to try to come up with an elegant and ideally not-too-difficult way of implementing streaming support

[2017-02-02 16:16] jeremymanning commented on #77
Hey @jcheong0428-- let us know if Andy's email cleared things up or if you're still looking for more help once you've tried it out.

[2017-02-02 17:04] andrewheusser opened #79 "for matplotlib>=2.0.0, labels is broken"
Something changed in the 2.0 release that breaks labels, and causes the 3d rotating to be janky.

[2017-02-02 17:08] andrewheusser commented on #79
we can require <=2.0.0 for now, and then check out the matplotlib 2.0 to see what changed

[2017-02-02 17:09] jeremymanning commented on #79
https://www.youtube.com/watch?v=qXNqEURmKtA

noooo!  yeah, we should explore this and make a note on the readme for now explaining why we're requiring matplotlib earlier than 2.0.

[2017-02-02 17:10] jeremymanning commented on #79
we can open a matplotlib issue too, if warranted

[2017-02-02 17:10] jeremymanning commented on #79
(also: nice catch!)

[2017-02-03 13:51] andrewheusser opened #81 "support for python 3.4+"
this will be essential moving forward.  looking into the best way to support both 2.7 and 3.4+

[2017-02-03 13:52] jeremymanning commented on #81
If we run in 3.4 now, what fails?

[2017-02-03 13:54] andrewheusser commented on #81
haven't tested it fully yet, but most of our code is already compatible with both. PPCA is not compatible with python3, so we'll have to figure out how to handle that.

[2017-02-03 13:57] jeremymanning commented on #81
For now we could have PPCA not install if using Python 3, and then check for Python 3 in reduce.py.  e.g. Reduced functionality, but most things would work.

[2017-02-03 18:31] andrewheusser commented on #81
This wasn't too bad after all.  I'm done upgrading to 3, but want to run some tests to make sure

[2017-02-03 19:17] jeremymanning commented on #81
I'd submit a pull request to PPCA (it'd be nice).  In the mean time, assuming their license allows us to do so, let's copy the single script into our code base and remove it from requirements.txt.

[2017-02-03 19:19] andrewheusser commented on #81
👍 apache open source license, i think we are good

[2017-02-05 03:04] jeremymanning commented on #81
Are we set with this?

[2017-02-05 19:11] andrewheusser commented on #81
The python 3 support is done, just need to merge in the branch, and add it into travis.  In that branch, I also moved the PPCA code into _externals, and modified the code for python3 support.  I posted an issue on the PPCA repo about a PR, but haven't heard back yet so I might just submit it because its finished: https://github.com/allentran/pca-magic/issues/3

I think support for python 3 would b

[2017-02-05 19:18] andrewheusser commented on #81
would also be good to add support for matplotlib 2.0, so maybe release both together in 0.2.0..

[2017-02-05 22:59] jeremymanning commented on #81
Let's close this issue, update the readme, and push to pip now that we have Python 3.x support.  We can open a new issue for matplotlib...

[2017-02-05 23:01] jeremymanning commented on #81
Another question: should we be using Python 3 as a lab?  Not sure why we have been using 2.7...

[2017-02-05 23:30] andrewheusser commented on #81
👍 yea, I think it would be a good idea to move sooner than later.  Any new software we should develop in python 3, and I think its easy to make it backwards compatible with some built in packages.

[2017-02-05 23:58] jeremymanning commented on #81
closing...please re-open if there are remaining issues to address

[2017-02-05 23:58] #81 closed

[2017-02-06 13:15] andrewheusser commented on #79
setting the matplotlib backend to "TkAgg" seems to fix this problem. Tkinter is "Python's de-facto standard GUI (Graphical User Interface) package" and should come preinstalled on osx/linux machines.

[2017-02-06 14:01] andrewheusser commented on #79
0.1.5 supports python 3 and matplotlib 2.0

[2017-02-06 14:01] #79 closed

[2017-02-06 14:15] jeremymanning commented on #77
I think this is solved via the examples gallery... closing...

[2017-02-06 14:15] #77 closed

[2017-02-06 22:37] andrewheusser commented on #78
documented this on the projects page for the 0.2.0 release, closing here :)

[2017-02-06 22:37] #78 closed

[2017-02-07 11:19] hughperkins opened #84 "A git clone that is more than ~5MB probably has some data files that could be best hosted eg in s3?"
A git clone that is more than ~5MB probably has some data files that could be best hosted eg in s3?  Or perhaps in google drive/dropbox.

[2017-02-07 11:31] hughperkins opened #85 "`plot_digits.py` => `no attribute 'index'`"
[code]
My packages:
[code]

python version:
[code]

[2017-02-07 16:01] andrewheusser commented on #84
Thanks, yes, we intended on moving the data in examples/sample_data to a separate repo, but ran into some hiccups so decided to leave it in for now and move it for the next minor release.  The plan is to setup a separate repo for the 3 sample datasets, and then create a function to load the data.

[2017-02-07 16:21] andrewheusser commented on #85
should be fixed now 4930a7a, thanks :)

[2017-02-07 16:21] #85 closed

[2017-02-07 20:23] stonebig commented on #79
didn't you forgot to remove the limitation inside setup.py ? I still see:

 'matplotlib>=1.5.1,<2.0',

[2017-02-08 10:30] hughperkins commented on #85
Thanks! :-)  Will take a look.

[2017-02-08 10:31] hughperkins commented on #84
Ok.  Using github for binary data might not be the most efficient way, but it will work.  I think using google drive is fairly standard, eg see https://github.com/zhangxiangxiao/Crepe

[2017-02-17 14:59] jeremymanning opened #86 "bug: multicolored lines"
When plotting a line with the group flag, gaps appear in the lines wherever there are color changes (see attached figure).  To reproduce:

`import hypertools as hyp`
`import numpy as np`
`from scipy.io import loadmat`
`data = loadmat('test_data.mat') #from sample_data`
`hyp.plot(data['spiral'], group=np.arange(1000))`

The expected behavior would be to produce a contiguous line without gaps.

![ga

[2017-03-23 11:44] jeremymanning opened #87 "resampled trajectories"
It'd be nice to have a flag (disabled by default) to enable users to plot "smoothed" versions of trajectories, like the ones computed during animations.  This could be implemented using something like `resample=1` by default, and then if `resample` > 1 the trajectory would be resampled at `resample` times the original samplerate.  (This would enable users to either upsample or downsample easily.)

[2017-03-30 12:23] andrewheusser commented on #87
all for this, but i have a list of other possible features for a second release on the 'projects' page.  maybe we can meet and decide on what is the priority, and then i'll add those as issues?

[2017-03-30 18:39] andrewheusser commented on #87
added to v2 features list

[2017-03-30 18:39] #87 closed

[2017-04-14 01:59] moneyDboat opened #88 "“NameError: name 'sys' is not defined” in /hypertools/_shared/helpers.py"
Here's the log
[code]

[2017-04-14 02:34] jeremymanning commented on #88
@moneyDboat can you upload example data and expand out those arguments so that we can reproduce and explore that bug?

[2017-04-14 05:07] moneyDboat commented on #88
I was watching mushrooms.ipynb in "ContextLab/hypertools-paper-notebooks" and use "mushrooms.csv". The code is following. I think "import sys" can fix this simple bug.
[code]

[2017-04-14 11:33] andrewheusser commented on #88
@moneyDboat yep, you are right.  `import sys` is missing at the top.  This brought up another issue though in the notebook, that I'll also fix.  We replaced the `point_colors` kwarg with `group`, but didn't update it in the notebook on that commented line.  If you use `group` instead of point colors, the code should work.  I'll fix that import statement and the notebook today

[2017-04-14 11:40] andrewheusser commented on #88
fixed in 5833a0a, will be in 0.1.7 release

[2017-04-14 11:40] #88 closed

[2017-04-14 12:40] jeremymanning opened #89 "plot styling consistency"
the plot styles differ between static and animated plots.  specifically, static plots appear on gridded and numbered axes that are shaded, whereas animated plots appear enclosed within a black cube with no shading or numbering.

static:
![temperature2](https://cloud.githubusercontent.com/assets/9030494/25043147/cefb0ff4-20eb-11e7-933b-6dfabae3b380.png)

animated:
![temps](https://cloud.githubuserc

[2017-04-14 12:49] jeremymanning opened #90 "animation options"
we currently cater animations to data trajectories, but not point clouds.  this is because each animation frame reveals a new part of the data.  in other words, when `animate=True` we rotate the camera around the plot and produce a movie (default: `False`).

however, a different way of animating could work for point clouds as well: we could display the full dataset in each frame, but rotate the ca

[2017-04-14 16:06] andrewheusser opened #91 "bug: plot_missing_data.py"
when running plot_missing_data.py (python 2.7)

error message:
[code]

[2017-04-14 16:07] andrewheusser commented on #91
also in PPCA.py - both crash on this line:

`missing_data = [inds[i] for i in np.random.choice(len(inds), len(inds)*missing)]`

[2017-04-14 20:38] andrewheusser commented on #86
fixed on f44a6e0

![figure_1](https://cloud.githubusercontent.com/assets/6596567/25055421/b2463100-2130-11e7-82cd-265a8cd04de9.png)

[2017-04-14 22:08] jeremymanning commented on #84
Is this related to the python 2 vs 3 issue?  http://stackoverflow.com/questions/28218466/unpickling-a-python-2-object-with-python-3

[2017-04-14 22:44] jeremymanning commented on #86
this doesn't work quite right with `animate=True`:
`import hypertools as hyp`
`import numpy as np`
`from scipy.io import loadmat`
`data = loadmat('test_data.mat') #from sample_data`
`hyp.plot(data['spiral'], group=np.arange(1000), animate=True)`

expected behavior: the spiral should appear in chunks, like for
`hyp.plot(data['spiral'], animate=True)`
except that the different parts of the spiral sh

[2017-04-14 22:45] jeremymanning commented on #84
note: by "this" i mean the build error on the `google-drive` branch

[2017-04-15 11:27] andrewheusser commented on #86
i think what is happening here is that each 'group' is being drawn simultaneously - which makes sense for plotting, say, multiple subjects data at one time, but not for situations like this. under the hood, `group` divides the data up into `len(unique(group))` chunks, and plots them one at a time with matplotlib. we could change the default behavior when using the `group` kwarg to plot the arrays

[2017-04-15 11:29] jeremymanning commented on #86
:+1:

[2017-04-15 13:42] jeremymanning commented on #84
are we ready to pull `google-drive` into main and close this issue?

[2017-04-15 13:45] jeremymanning commented on #86
ah-- i just read your comment in more detail.  you're right about what's happening, i think...and i think it's actually the correct behavior.  but we probably want to add in the option to plot groups simultaneously or sequentially.  however, that would be an enhancement (not a bug fix), so i'm going to close this issue since that functionality is already covered in one of the v2 feature ideas.

[2017-04-15 13:45] #86 closed

[2017-04-15 13:45] andrewheusser commented on #84
for speed purposes, I'm thinking that i'll separate the 'weights' example data into one file with 2 group averages and one with just the first few subjects.  As of now, it loads in the full dataset and it can take ~10s.  If I separate, it'll be much quicker

[2017-04-15 13:46] andrewheusser commented on #86
cool, it does seem like the default behavior for `group` should be to plot sequentially (I think).  but we can def support both in v2

[2017-04-15 13:48] jeremymanning commented on #84
i'm ok either way, as long as we don't break code (and/or we should update the code for this repo's tests and in the examples repo).

i guess i'd lean slightly towards keeping the weights.mat file as is, even if it takes 10 seconds to download (it's a big file, after all).  but i'll defer to what you think is best @andrewheusser...

[2017-04-15 13:50] andrewheusser commented on #84
i think we can keep access avail to the full the weight.mat file, but also add the preprocessed data files for the examples....it makes it seem as though the software is slow, but its really just the file loading

[2017-04-15 13:50] jeremymanning commented on #86
i'm not sure we want groups to plot sequentially by default (e.g. for the weights.mat examples we want simultaneous plotting).  i think simultaneous is as good a default as any, but we should just add an option to change to sequential plotting on demand.

[2017-04-15 13:51] jeremymanning commented on #84
sounds good-- adding those additional files without removing the old one will keep backwards functionality but will allow the examples to run more quickly.

[2017-04-15 13:52] andrewheusser commented on #86
yea you are right - we'll just add an option to plot sequentially

[2017-04-15 13:55] jeremymanning commented on #89
another side issue that came up as part of addressing [this issue](https://github.com/ContextLab/hypertools/issues/86#issuecomment-294294384) is that for static plots the axis bounds are tight around the data, but for the animated plots the axes are zoomed out.  we should keep those consistent.

the general rule i'm hoping for here is that the static and animated plots should look identical other

[2017-04-15 14:01] jeremymanning commented on #84
one more thing i thought of: we should make sure the API specification on readthedocs is recompiled to include the new `hyp.tools.load` function.

[2017-04-17 19:09] jeremymanning commented on #84
Shall we merge the pull request and close this issue?

[2017-04-17 19:11] andrewheusser commented on #84
there is a sphinx-related bug in the readthedocs build that im trying to resolve.  once that is done, ill merge google-drive into master

[2017-04-17 19:14] jeremymanning commented on #84
Got it.  Sounds good...

[2017-04-17 19:24] andrewheusser commented on #84
this is good to go

[2017-04-17 19:24] #84 closed

[2017-04-17 19:24] andrewheusser commented on #91
fixed on google-drive branch, will document in the 0.7.1 release notes

[2017-04-17 19:24] #91 closed

[2017-04-18 14:48] andrewheusser opened #94 "resample trajectory and hyp.tools.resample"
While animated line plots are resampled, static plot are not.  We could add a `resample` flag to the `plot` function that allows a user to upsample (or downsample) their timeseries data. Then, we could expose the function as `hyp.tools.resample`.

questions:

+ this only makes sense for timeseries data (I think), so do we allow the user to resample non-timeseries data?

+ how should the user inter

[2017-04-18 14:49] andrewheusser opened #95 "support multiindex Pandas DataFrames"

[2017-04-18 14:53] andrewheusser opened #96 "animate = static, rotate or trajectory"
Instead of setting animate to `True` or `False`, we could support (at least) 3 plot options:

1. static plots - this would be the default plot style
2. rotating plots - with this option, the data would be static, but the camera would rotate around the plot, so that all the data can be visualized easily
3. trajectory - this would be the same as the current plot when passing `animate=True`, good for

[2017-04-18 14:55] andrewheusser opened #97 "allow legend to be computed from group kwarg"
Currently, legends are set explicitly by passing a list to the `plot` function.  However, they could also be set automatically by passing a `group` list to the `legend` kwarg

e.g.
`hyp.plot(data, group=labels, legend=labels)`

[2017-04-18 14:57] andrewheusser opened #98 "change procrustes and reduce API to look like scikit learn"
since many are familiar with the scikit-learn fit-transform design, we could change the procrustes and reduce apis to have a similar design.  This would also allow transforms to be fit on one dataset and applied to another.

[2017-04-18 14:59] andrewheusser opened #99 "align=True flag"
A nice shortcut to hyperalign and plot data in one step

e.g.

`hyp.plot(data, align=True)`

as compared to:

[code]

[2017-04-18 14:59] andrewheusser opened #100 "colorbar option"
currently, there is no way to plot a colorbar.

`hyp.plot(data, colorbar=True)`?

[2017-04-18 15:02] andrewheusser opened #101 "support streaming data"
e.g.

`hyp.plot(streaming_data, streaming=True)`

or could be inferred from the structure of `streaming_data`

[2017-04-18 15:03] andrewheusser opened #102 "handle keyword arguments in a more organized way"
this is currently a bit of a mess.  it would be nice to refactor the way we handle keyword arguments

[2017-04-18 15:05] andrewheusser opened #103 "ability to change label opacity"
when plotting many labels on a single plot, its difficult to see the data because they become covered with labels.  We could add a flag to adjust the opacity of the labels.

[2017-04-18 15:10] andrewheusser opened #104 "option to animate trajectories in serial or parallel"
Currently, when you past a list of arrays to `hyp.plot` and set `animate=True`, the trajectories are all plotted simultaneously.  There are cases when serial plotting may be useful, like plotting a timeseries where different chunks of time are plotted in different colors, or 'single trial' EEG data, where you want to visualize consistency (or divergence) of trajectories over conditions.

Ideas abo

[2017-04-20 21:05] andrewheusser commented on #96
on second though, i'm wondering if we should leave the `animate` kwarg as it is and pick a new kwarg.  Reasoning is that 1) `animate='static'` doesn't really make sense and 2) we may not want to mess with the API too much bc its frustrating for users.  Maybe something like `plot_type` or `style`. open to other suggestions

[2017-04-20 21:17] andrewheusser commented on #96
then we could leave `animate=True` but phase it out and deprecate it eventually

[2017-04-20 21:40] jeremymanning commented on #96
I think we should have `True` and `False` maintain their current behaviors to maintain legacy support for now.  We could also add `parallel` (plot every group together), `serial` (plot each group in sequence), and `bullettime` (like from the matrix-- show the final plot but rotate around it)

[2017-04-20 21:57] jeremymanning commented on #96
one more thought (maybe worth a separate issue): it looks like the degree of sub-sampling (using pchip) changes with `duration`, but it shouldn't-- `duration` should change the rotation rate (i.e. how many degrees the camera moves with each frame), not the appearance of the data.

this will also fix the issue of static plots not being smoothed whereas animated plots are.

note: if a non-connected

[2017-04-22 10:14] jeremymanning commented on #104
@andrewheusser is the question how serial plotting should be implemented?

I think we could do something analogous to how `chemtrails` is currently implemented, but in reviewing the code i also think we may want to clean up how `chemtrails` is implemented.  the high level idea is that we can specify two lists of start and end indices: `color_inds` and `alpha_inds`, and two lists of values: `color_

[2017-04-22 10:22] jeremymanning commented on #104
or @andrewheusser if you were asking about how the serial/parallel flags should be specified, what about having "four" `animate` options (specified via five flag values to maintain backwards compatibility):

1. `False` (default): don't animate the plot
2. `True` or `parallel`: all groups evolve simultaneously and are plotted together (in parallel)
3.) `serial`: each individual group's data evolves

[2017-04-22 10:42] jeremymanning commented on #102
@andrewheusser: i did some code review this morning.  currently, in each function we have a series of `if` statements that look for (and remove) specified keywords from the `kwargs` dictionary as it gets passed around.

a more elegant solution might be to specify a new function-specific dictionary of default values as follows at the beginning of each function:

`argdict['keyword_name'] = default_v

[2017-04-22 10:43] jeremymanning commented on #98
@andrewheusser can you clarify what help you're looking for here?

[2017-04-22 10:45] jeremymanning commented on #96
i think this issue is redundant with [this one](https://github.com/ContextLab/hypertools/issues/104).  however, since we have some good discussion in both, maybe it's worth keeping both issues open for now...

[2017-04-22 10:46] jeremymanning commented on #99
agreed-- i think this is in line with our "complex analysis in one line" goal.

:+1:

[2017-04-22 10:50] jeremymanning commented on #100
:=1: this would be super useful...but, how can we know the colorbar axes?  e.g. if the colors reflect different groups, how would we assign numbers to those groups?  we'd need some sort of `groupvals` variable to help us assign them colors.  or are you thinking we'd just assume the groups have values `1:len(groups)`?

[2017-04-22 10:59] jeremymanning commented on #95
the challenge here is how to set the line styles so that line that share a higher-level index are grouped somehow.  some notes from slack:

+ essentially, i was imagining adding in thicker lines to denote group averages, and then those could be stacked, so you get linewidth=1 on level 1, linewidth=2 reflects level 1 averages, linewidth=3 reflects level 2 averages, etc.

+ and we could also make th

[2017-04-22 11:49] andrewheusser commented on #102
ah that sounds like a great idea! we coul even separate out argsdict to a separate file, so a use can easily create their own 'defaults' without messing with the plot function, and provide a few alternative default settings. (i think we discussed this or something like it on the slack channel)

[2017-04-22 11:50] andrewheusser commented on #102
this would be wrapped in a function like `load_defaults()` or something

[2017-04-22 11:51] jeremymanning commented on #102
a defaults idea could be nice-- that way we could define a single function and call `args = load_defaults(kwargs)` at the beginning of every function-- where whatever's in `kwargs` overwrites the defaults, but otherwise the defaults are used.

[2017-04-22 11:52] jeremymanning commented on #102
(i don't think we necessarily need to give the user access to it-- e.g. if they install via pip i don't think there's a convenient place to modify or view the code)

[2017-04-22 11:53] jeremymanning commented on #102
or even better, `load_defaults(kwargs)` would attach all of those variables to the local workspace via `eval` statements

[2017-04-22 11:57] andrewheusser commented on #102
one more things to consider:

The reason to stick with the `*args` `**kwargs` pattern is that whatever is not processed by `hypertools` is eventually passed on to `matplotlib`, so users can essentially use our API + all the options offered by hypertools.  Thus, hypertools-specific `kwargs` and matplotlib-specific `args` and `kwargs` have be be sorted out internally, or else matplotlib will throw a

[2017-04-22 12:00] jeremymanning commented on #102
we could still remove any keys in `myargs` from `kwargs` before passing that dictionary on to `matplotlib`...right?

[2017-04-22 12:08] andrewheusser commented on #98
essentially, we would extend the `procrustes` and `reduce` (and maybe `align?`) APIs to return a "fit model".  Scikit-learn is set up like this:

[code]

This allows you to pass new data to the model fit with another dataset.  Allowing behavior like this would help us in cases where we want to fit data to a precomputed model for cross-validation, or other purposes.

one idea would be to keep the A

[2017-04-22 12:09] andrewheusser commented on #102
yea, we could. i guess that still just feels hacky to me, but itll work

[2017-04-22 12:16] andrewheusser commented on #102
id prefer that our kwargs are handled explicitly, and all matplotlib kwargs are handled with a `**kwargs` at the end of the function def, like seaborn does:

[code]
all the explicit keywords are seaborn specific, and the rest are matplotlib, but this unfortunately doesn't work because we want to pass in unlabeled(?) args like 'o'. If we switched it to `hyp.plot(data, marker='o')` that would fix th

[2017-04-22 12:34] andrewheusser commented on #102
ahhhh, this issue is solved for python 3 but not 2!

http://stackoverflow.com/questions/4372346/uses-of-combining-kwargs-and-key-word-arguments-in-a-method-signature

[2017-04-22 12:39] andrewheusser commented on #102
OK so maybe the best thing to do is to handle kwargs like @jeremymanning suggested above for now, and then when (if?) we eventually deprecate support for python 2, we can clean up the way things are handled

[2017-04-22 14:11] jeremymanning commented on #102
Sounds good!

[2017-04-22 14:14] jeremymanning commented on #98
That sounds great to me!

[2017-04-24 14:40] jeremymanning opened #105 "simplifying API"
The API could be simplified in a few places.  For example:

+ In `hyp.plot` we could include an `align` flag that runs `hyp.tools.align` on the data if set to `True` (default: `False`).
+ In `hyp.tools.align` and `hyp.tools.procrustes` we could include a `ndims`flag that runs `hyp.tools.reduce` on the dataset prior to alignment if not `None` (default: `None`)
+ In `hyp.tools.align` and `hyp.tools.

[2017-04-25 18:05] #99 closed

[2017-04-25 18:10] andrewheusser opened #106 "enh: add support for all scikit-learn reduction methods"
note: do PPCA first (to fill in missing data), then call reduction model

[2017-04-25 18:12] #96 closed

[2017-04-25 18:16] andrewheusser commented on #94
one more thought (maybe worth a separate issue): it looks like the degree of sub-sampling (using pchip) changes with duration, but it shouldn't-- duration should change the rotation rate (i.e. how many degrees the camera moves with each frame), not the appearance of the data.

this will also fix the issue of static plots not being smoothed whereas animated plots are.

note: if a non-connected plot

[2017-04-25 18:17] #90 closed

[2017-04-25 18:26] andrewheusser opened #107 "add requests to setup.py"

[2017-04-25 19:10] jeremymanning opened #108 "support kernel density plots in 2d and 3d"
write a function for creating kernel density plots, along the lines of seaborn's kdeplot: http://seaborn.pydata.org/generated/seaborn.kdeplot.html

in 3d, each group's distribution would be plotted as a series of concentric 3d shapes

to figure out: what would be a good syntax for using this mode?

[2017-04-25 19:10] jeremymanning commented on #108
example plot:
![seaborn-kdeplot-9](https://cloud.githubusercontent.com/assets/9030494/25403130/52810cf8-29c9-11e7-8632-ed39b114756c.png)

[2017-04-25 19:19] andrewheusser commented on #108
i think these may look weird considering the matplotlib plotting issues. wondering whether its worth considering switching to mayavi under the hood / how much work that would actually take:

http://stackoverflow.com/questions/25286811/how-to-plot-a-3d-density-map-in-python-with-matplotlib

[2017-04-26 02:35] jeremymanning commented on #108
It may not be too hard as long as we're willing to stick with the simplified styling and not have axis labels...

[2017-04-26 02:37] jeremymanning commented on #108
We could also implement things directly with OpenGL, e.g. using [pyopengl](http://pyopengl.sourceforge.net/)

[2017-04-26 02:42] jeremymanning commented on #108
Or we could switch to plotly...

[2017-04-27 15:35] jeremymanning opened #109 "triangular meshes"
support for triangular meshes could be cool-- e.g. meshes are defined by triangles.  so if we had a sequence of points, we could turn it into a triangular mesh by sliding a “3 point window” down the matrix-- e.g. rows 0, 1, and 2 are the first triangle; 1, 2, and 3 are the second triangle; 2, 3, and 4 are the third triangle, etc.  then we could plot the mesh in 3d, as a separate type of plot.  it

[2017-04-27 15:39] jeremymanning opened #110 "plot.ly support"
Using plotly rather than matplotlib as the underlying graphics engine could bring some nice benefits: e.g. more smoothly interactive plots, easier integration into web pages, etc.

This library could make that conversion _relatively_ painless(ish): https://github.com/santosjorge/cufflinks

[2017-04-28 00:30] jeremymanning opened #111 "on-the-fly interactive labels"
After implementing support for [streaming data](https://github.com/ContextLab/hypertools/issues/101), it would be nice to be able to interactively label plot points.  The way I'm imagining this working is that, when visualizing a data stream, the user might press spacebar, prompting a dialogue box to ask for a label for whatever points are active at that moment (i.e. the current "event").  The use

[2017-04-28 00:31] jeremymanning opened #112 "on-the-fly decoding"
After implementing [on-the-fly interactive labels](https://github.com/ContextLab/hypertools/issues/111), I propose a "decoding" mode for streaming data, whereby the event closest (in Euclidean distance, or another user-specified distance function) to the current features is highlighted in some way.

[2017-04-28 00:44] jeremymanning opened #113 "grand challenge: streaming brain decoding"
Achieving this grand challenge requires:
1. Support for [streaming data](https://github.com/ContextLab/hypertools/issues/101)
2. [Interactive feature/event labels](https://github.com/ContextLab/hypertools/issues/111)
3. [On-the-fly decoding](https://github.com/ContextLab/hypertools/issues/112)
4. Reading in brain data on the fly, e.g. from an OpenBCI device (e.g. see [this](https://github.com/Open

[2017-04-28 17:03] jeremymanning opened #115 "question about travis CI tests"
it seems like the same tests (for the same code) are run multiple times.  are different things being tested for, or is this a potential inefficiency that could be corrected?

[2017-04-28 17:16] jeremymanning commented on #107
i think this has been done...can we close this issue?

[2017-04-28 17:47] andrewheusser commented on #107
yep!

[2017-04-28 17:47] #107 closed

[2017-04-29 16:54] jeremymanning commented on #89
the current separation of `animate` and `plot` is inefficient and results in a lot of doubled code.  instead, we should replace these with a single `draw` function (that accepts an animate flag).  if 3d, draw a cube and then plot the data.  if 2d, draw a square and then plot the data.  if animated, spin the camera or evolve the animation as specified.

i suggest using `animate.py` as the baseline

[2017-05-01 01:06] jeremymanning commented on #102
note: i've started to work on this issue in [this branch])(https://github.com/ContextLab/hypertools/tree/jeremy-cleanup), but the code is currently non-functional; happy for someone else to take over if interested and able.  in the mean time i'll make gradual progress...

[2017-05-07 03:49] jeremymanning opened #116 "Feature request: Loading functions for fivethirtyeight and kaggle"
Create some sort of nice parser or interface for downloading datasets from kaggle and fivethirtyeight and wrangling them into a format that can be used by hypertools.

Example proposed syntax:
`data = hyp.tools.load('mushrooms', source='kaggle')`

[2017-05-07 12:14] andrewheusser commented on #116
This is a great idea, but at least for kaggle datasets, they are uploaded by anyone and thus the format varies quite a bit.  A separate parser would have to be built for each dataset.  We could write parsers for some of the most popular datasets, and then maybe the community would help add more.

[2017-05-07 12:40] jeremymanning commented on #116
I was thinking we could support datasets that were formatted in a particular set of ways (on both repositories).  We could also have a `hyp.tools.load('datasets', source='kaggle')` (where `source` could be one of `'kaggle'`, `'538'`, or `'gdrive'`) that returns a list of strings naming parsable datasets.  We could either hard-code this in (e.g. have a dictionary of dataset names and locations/form

[2017-05-08 20:06] andrewheusser commented on #106
proposed API:

[code]

planning to include all manifold learning algorithms supported by `scikit-learn`:

http://scikit-learn.org/stable/modules/classes.html#module-sklearn.manifold

we could consider other decomposition methods as well (like ICA):

http://scikit-learn.org/stable/modules/classes.html#module-sklearn.decomposition

pseudo-code:

[code]
@jeremymanning let me know what you think

[2017-05-08 20:21] andrewheusser commented on #106
actually `method` should probably be `model`

[2017-05-08 20:25] andrewheusser commented on #106
we should also allow the user to change defaults, which are specific to each reduction model.  perhaps:

[code]

[2017-05-08 21:22] andrewheusser commented on #98
now that I'm in the weeds here, this is actually trickier than I thought. It looks like all of the scikit-learn decomposition algorithms (PCA, FastICA, NMF..) have a `fit` `transform` and `fit_transform` method.  However, the manifold learning algorithms (TSNE, MDS..) have just the `fit` and `fit_transform` methods (not `transform` alone).  Thus, the `method` would only work for the decomposition

[2017-05-08 22:59] jeremymanning commented on #98
perhaps we could provide a standard interface for these functions, even if scikit-learn doesn't.  this could be really useful.  what i'm thinking is:

`reduced = hyp.tools.reduce(data, method='PCA', ndims=3)` returns the reduced data.  method can be one of: PCA, PPCA, ICA, NFM, MDS, or tSNE
`xform = hyp.tools.reduce(data, method='PCA', ndims=3, return_xform=True)` returns a transform object, fit u

[2017-05-08 23:02] jeremymanning commented on #98
ah...i think there's some mixup in these comments with [issue 106](https://github.com/ContextLab/hypertools/issues/106).  this issue is about hyperalignment; 106 is about data reduction.

[2017-05-08 23:05] jeremymanning commented on #106
i like the perplexity idea-- e.g. have some way of defining the number of dimensions based on some other stopping criteria.  this would be easy for some dimensionality reduction algorithms (e.g. PCA, where we can simply take the top `k` factors as a `k`-dimensional reduction of the data) and harder for others (e.g. for MDS and tSNE, the solution completely changes and needs to be re-fit for differ

[2017-05-08 23:06] jeremymanning commented on #106
adding link to [this comment](https://github.com/ContextLab/hypertools/issues/98#issuecomment-300014407) here-- thoughts on reduction API

[2017-05-08 23:29] jeremymanning commented on #106
to expand on my most recent comment-- that link is to a proposed API for data reduction.  it's along the lines of what you proposed, with some additional thoughts.  @andrewheusser can you take a look at what i wrote [here](https://github.com/ContextLab/hypertools/issues/98#issuecomment-300014407) and then we can stabilize on an API?

[2017-05-09 01:41] andrewheusser commented on #106
@jeremymanning - re your perplexity comment above - To clarify, my suggestion wasn't about perplexity specifically, but rather about an easy way to pass parameters to each individual decomposition model.  Each scikit-learn model has its own set of predefined parameters (see http://scikit-learn.org/stable/modules/classes.html#module-sklearn.decomposition). So, a dictionary seems like a good way to

[2017-05-09 02:56] jeremymanning commented on #106
I understood the distinction between the APIs for decomposition vs. manifold learning algorithms in scikit-learn.  There may be good reasons for that in scikit-learn, but I don't think we want that design for hypertools.

For PCA and ICA, what the `fit` function learns is a mapping matrix that takes a set of points in `n`-dimensional space and maps it onto a `k`-dimensional space using a matrix mu

[2017-05-09 03:02] jeremymanning commented on #106
also: thanks for clarifying the perplexity idea.  i think your design is potentially good...are you thinking we'll handle those arguments with keyword arguments like we do for plot parameters, and pass along any non-hypertools function to the appropriate sklearn functions?

[2017-05-09 11:36] andrewheusser commented on #106
:) cool, I get what you are saying now. Thanks for explaining the decomposition/manifold implementation details

It does look like there is discussion around building transform functions for tSNE (https://github.com/scikit-learn/scikit-learn/issues/5361#issuecomment-147552086) and maybe the other manifold learning algs as well.  Not sure what stage it is at though. We should take a look at these d

[2017-05-09 12:13] jeremymanning commented on #106
ideally we could find already-implemented versions of all of these algorithms, and either call scikit-learn or someone else's code to implement our versions.  for example:
- [tSNE](https://lvdmaaten.github.io/tsne/#implementations) -- there's a python package that we can download as a zip file (we could import it into our toolbox into `_externals` depending on the license)
- for MDS i couldn't see

[2017-05-24 02:40] andrewheusser opened #118 "Feature request: use deep autoencoders for dimensionality reduction"
using deep autoencoders to do dimensionality reduction could be a unique way to visualize high-dim data:

-info about deep autoencoders: https://deeplearning4j.org/deepautoencoder
-python implementation using tensorflow: https://github.com/cmgreen210/TensorFlowDeepAutoencoder
-geoff hinton lecture with deep autoencoder data viz: https://www.youtube.com/watch?v=ARQ6PZh8vgE&list=PLoRl3Ht4JOcdU872Ghi

[2017-05-24 02:40] andrewheusser commented on #118
<img width="543" alt="screen shot 2017-05-23 at 10 34 42 pm" src="https://cloud.githubusercontent.com/assets/6596567/26384660/d4cbd594-4008-11e7-8281-8a4ee06c9fa4.png">

[2017-05-24 02:41] andrewheusser commented on #118
input and output are trained to look as similar as possible

[2017-05-24 02:47] andrewheusser commented on #118
https://blog.keras.io/building-autoencoders-in-keras.html

[2017-05-24 17:00] jeremymanning commented on #97
If `legend=True` and `group` is specified, set the legend labels to the group labels.

If `legend=True` and there are no groups, each list element gets a numerical label in the legend (Dataset 1, Dataset 2, etc.).

If `legend=False` (default) don't show a legend

If `legend=labels` (where `labels` is a list of strings), set the legend labels to `labels`.

[2017-05-24 17:06] jeremymanning opened #119 "return PCA factor loadings"
perhaps using a sklearn-style API?

[2017-05-24 17:09] jeremymanning opened #120 "feature request: save animations as GIFs"
in addition to support for saving animations as .avi files, also support saving as .gif animations.

[2017-05-24 21:14] TomHaoChang opened #121 "tools.reduce: matrix rank affecting the dimensions of the result"
`import hypertools as hyp`
`import numpy as np`
`print hyp.tools.reduce(np.random.normal(0,1,[5,100]),ndims=10).shape`

This is the code I tried which was supposed to give me a 5x10 dimension matrix. However, because the rank of the matrix is 5, PCA is unable to generate 10 dimensions from the data. Therefore the resulting matrix I got was a 5x5 matrix.

I talked about this issue with Professor Ma

[2017-05-24 21:52] jeremymanning commented on #121
To expand on what @TomHaoChang said:

If the `ndims < data.shape[0]`, then the reduced data will have `data.shape[0]` columns rather than the expected `ndims` columns.

To maintain the expected shape of the data, we could pad the returned matrix with zeros to that it has the expected shape.

[2017-05-25 17:46] andrewheusser commented on #89
new style for 0.2.0 @jeremymanning what do you think?  if all set, we can close this because its implemented on the branch (`args-refactor`) that i'll push before the mozilla sprint

![figure_1](https://cloud.githubusercontent.com/assets/6596567/26462807/3ff82618-4150-11e7-8dd4-067c38198cf6.png)

[2017-05-25 17:52] jeremymanning commented on #89
That looks awesome!

[2017-05-25 18:26] jeremymanning commented on #89
actually...i just took a quick look at the code and am re-opening.  for 2d plots, i think we need an analog of plot_cube that plots a square around the data...right?  so that 2d plots also have the same style?  that way we could also have 2d animations (where spinning is always off, but we could support chemtrails and precog).

@andrewheusser should we open a separate issue for the 2d plot styles,

[2017-05-25 19:22] andrewheusser commented on #89
2d plots are also implemented, i just need to push. animated 2d plots and the precog are new features, so i'll open up 2 separate issues for those fellas

<img width="642" alt="screen shot 2017-05-25 at 3 21 16 pm" src="https://cloud.githubusercontent.com/assets/6596567/26466750/da280aac-415d-11e7-9368-57863e43da0b.png">

[2017-05-25 19:23] andrewheusser opened #122 "new feature: "precognition" animation option"
chemtrails is turned on before the animated plot starts so you can see where the lines are going

[2017-05-25 19:24] andrewheusser opened #123 "2d animations"
currently only 3d animations are supported, but we can add 2d

[2017-05-25 19:35] andrewheusser commented on #121
hmm, interesting..so pad the input data to the PCA function, or pad the PCA-reduced data?

[2017-05-25 20:11] jeremymanning commented on #121
In this rare case, we'd pad the output so that it has the correct number of dimensions.

[2017-05-25 20:12] jeremymanning commented on #89
Nice :+1:

[2017-05-25 21:41] jeremymanning commented on #121
To give some more background for this issue, @TomHaoChang and I are using `hyp.tools.reduce` for another project, where the data reduction API for hypertools is a really convenient way to apply PCA to either a list of numpy arrays (using the group-level reduction model that we use for plotting multiple arrays) or a single numpy array, using the same syntax.

But for that project, unlike with the t

[2017-05-30 15:30] andrewheusser commented on #121
👍 ill write a check to see if the number of columns returned by the PCA model is less than `ndims`, and if so, fill with zeros

[2017-05-30 15:42] andrewheusser commented on #121
implemented on 477a548

[2017-05-30 15:42] #121 closed

[2017-05-30 16:47] andrewheusser commented on #122
added on de7c4b8

[2017-05-30 16:47] #122 closed

[2017-05-30 16:48] #89 closed

[2017-05-30 17:37] jeremymanning opened #124 "Bullet time"
Want to add a `bullettime` animation option that, if true, overrides `chemtrails` and `precog` by setting both to True?  (If false, it's ignored)

[2017-05-30 17:42] andrewheusser commented on #124
:) sure! the way i've set it up you can use either chemtrails=True and precog=True, or bullettime=True and it will do the same thing

[2017-05-30 17:46] andrewheusser commented on #124
added on 04c79ea

[2017-05-30 17:46] #124 closed

[2017-05-30 17:47] jeremymanning commented on #124
https://youtu.be/KNrSNcaYiZg

[2017-05-30 17:50] jeremymanning commented on #101
Ideally data streams would be just another type of supported data types, in addition to pandas dataframes and numpy arrays.

So we'd use some initial samples to compute the dimensionality reduction transform, and then all future samples would be added to the plot dynamically using that transform.

[2017-05-30 17:51] jeremymanning commented on #101
(so I'd vote for no streaming flag)

[2017-05-31 14:35] andrewheusser opened #126 "explore mode for 2d plots"

[2017-05-31 19:13] andrewheusser opened #127 "feature request: support different selections of bullettime, precog, and chemtrails for different data matrices"
we could show precog on one, chemtrails on another, etc. we’d need to handle warnings differently if we went this route.

[2017-06-01 11:26] #102 closed

[2017-06-01 12:43] andrewheusser opened #128 "plotting static data tutorial"
a jupyter notebook that goes through a static dataset demonstrating the various plotting features.  here's an example for inspiration: http://cdl-quail.readthedocs.io/en/latest/tutorial/basic_analyze_and_plot.html

[2017-06-01 12:45] andrewheusser commented on #128
after we create a notebook, i can add it to the readthedocs website

[2017-06-01 12:50] andrewheusser opened #129 "tutorials for hyp.tools"
a jupyter notebook for each of the various tools demonstrating how they can be used in conjunction with the plotting functions. could be organized as:

+ dimensionality reduction
+ hyperalignment + procrustes
+ clustering
+ describe_pca
+ other

[2017-06-01 15:50] alysivji commented on #97
I'm at the Mozilla sprint in Chicago. This seems like a good project to get started with.

I'm setting up my env so I can play around with hypertools and then I will work on this issue.

[2017-06-01 15:51] jeremymanning commented on #97
Welcome @alysivji!

[2017-06-01 15:59] andrewheusser commented on #97
@alysivji - awesome!  let us know how we can help via gitter: https://gitter.im/hypertools/Lobby

[2017-06-01 17:49] andrewheusser opened #130 "feature request: add support for LSL data streams"
both openbci and muse can send directly to LSL, so it would be convenient to support this protocol.  it was described to me as "NTP for multiple data streams", which i think could be very useful in general (i.e. plotting a streaming movie trajectory concurrently with streaming brain data)

[2017-06-01 23:10] rarredon commented on #105
Hi there, I'm Ryan. I found your project through the Mozilla Sprint. This issue sounds like something I can work on. I have a few questions to clarify.

1. In regards to the first bullet point, where does the alignment algorithm fit in with normalization and reduction? From details of the other bullet points, it sounds like alignment should come after reduction. So should order of operations be: n

[2017-06-02 00:11] andrewheusser commented on #105
Hi Ryan!  We'd love to have you help out!  Regarding your questions -

_In regards to the first bullet point, where does the alignment algorithm fit in with normalization and reduction? From details of the other bullet points, it sounds like alignment should come after reduction. So should order of operations be: normalization, reduction, then alignment?_

I believe the order should be normalize -

[2017-06-02 02:31] jeremymanning commented on #130
this would be very useful-- @andrewheusser are you thinking this would be another format available to use to initialize stream objects?

also, here's a link to the LSL python library: https://github.com/sccn/labstreaminglayer/tree/master/LSL/liblsl-Python

[2017-06-02 02:37] jeremymanning commented on #105
For plotting, I think we want normalize --> reduce --> align.  This is because:
- align runs slowly on high-dimensional data, so it'll be faster to align reduced data
- aligning reduced data also means that the visual appearance (i.e. what actually gets plotted) will be of aligned data, whereas if we align prior to reducing, the alignment will be only partially preserved in the plot
- we should ke

[2017-06-02 04:36] rarredon commented on #105
Thanks guys, your comments are helpful.

Also, in regards to bullet point 3, how would you like the matrices to be zero padded? Should they be padded on the left, on the right, on both edges equally (if padding width is even)? Maybe there could be an extra kw arg `pad_edge` if you think it would be beneficial for the user to choose.

[2017-06-02 10:57] jeremymanning commented on #105
Great question!

None of the functions should pad with zeros, except `hyp.tools.align`.  (And I believe this is already implemented.)  So we shouldn't need to add any zero padding to implement this issue.  To explain our reasoning for not zero padding (except for `align`):

The basic assumption we make in `reduce` is that each dimension (feature) of the input is the same across the different input

[2017-06-02 12:16] andrewheusser commented on #105
@jeremymanning - re dataframes, we do not do any reordering. If the input data is a dataframe (or list of dfs) we:

1. transform all text columns into binary dummy variables (see [here](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.get_dummies.html) leaving the numerical columns as they are
2. turn the whole df into a np array
3. optionally output the column labels if `return_label

[2017-06-02 12:33] andrewheusser opened #132 "reorder df columns"
when doing dimensionality reduction over a number of datasets, it is assumed that the columns (features) across datasets are the same. With unlabeled datasets (numpy arrays) we have no way of knowing, except thst we can check if the number of columns is the same.  For dataframes (labeled columns) we can explicitly check to see if the columns are the same, throw an error if they aren't, or reorder

[2017-06-02 16:51] #97 closed

[2017-06-02 17:23] andrewheusser commented on #130
@jeremymanning - exactly, the stream object would look the same, but the way the data gets into it would be through LSL

[2017-06-02 22:09] rarredon commented on #105
Okay, so I'll finish up the other parts, and forget the part about zero padding. Should be done soon!

[2017-06-02 22:12] jeremymanning commented on #105
That's great @rarredon-- thanks!

[2017-06-02 22:15] jeremymanning commented on #130
very cool... 👍

[2017-06-02 23:19] andrewheusser opened #134 "consider incremental pca as default for plotting large datasets"
_Incremental principal components analysis (IPCA).
Linear dimensionality reduction using Singular Value Decomposition of centered data, keeping only the most significant singular vectors to project the data to a lower dimensional space.
Depending on the size of the input data, this algorithm can be much more memory efficient than a PCA.
This algorithm has constant memory complexity, on the order o

[2017-06-03 01:01] jeremymanning commented on #134
This sounds good to me-- so the new version of `reduce` would work something like:

1) use PPCA to fill in missing data
2) if `method=None` (default) we'd default to PCA if the dataset (collectively) had less than our threshold number of observations (10K? 100K?) and IncrementalPCA if the dataset (collectively) had more than that number of observations
3) otherwise we'd default to whatever was spe

[2017-06-04 10:50] andrewheusser commented on #106
I'm almost done with a PR adding additional reduction models to hypertools.  There are quite a few techniques that use the `n_components` syntax: http://scikit-learn.org/stable/modules/classes.html#module-sklearn.decomposition - do we want to support all of them, or a subset?  The rationale to include all of them is that we don't know ahead of time what people will want to use (although we can gue

[2017-06-04 10:51] andrewheusser commented on #106
Here's a full list that use the `n_components` syntax:

PCA, FastICA, IncrementalPCA, ProjectedGradientNMF, KernelPCA, FactorAnalysis, TruncatedSVD, NMF, SparsePCA, MiniBatchSparsePCA, DictionaryLearning, MiniBatchDictionaryLearning, TSNE, MDS, SpectralEmbedding, LocallyLinearEmbedding, Isomap

so we could easily include all of them.

[2017-06-04 10:53] andrewheusser commented on #106
errors (such as passing a matrix with negative values to non-negative matrix factorization) would be handled by scikit-learn

[2017-06-04 12:00] jeremymanning commented on #106
It would be fantastic to include all of these algorithms.

We could also add a "someday" issue to compute some quick stats on the data initially and then use some sort of heuristic to select which algorithm to us based on the properties of the data.  But that's definitely outside of the scope of this issue.

Re: returning the model, [this issue](https://github.com/ContextLab/hypertools/issues/119)

[2017-06-05 11:34] jeremymanning commented on #105
Thanks @rarredon!  Closing this issue...

[2017-06-05 11:42] jeremymanning commented on #105
Actually...re-opening, sorry.  I realized: the tutorials on [readthedocs](http://hypertools.readthedocs.io/en/latest/) still need updating.

[2017-06-05 11:42] jeremymanning commented on #105
(Should be done only after we push the next version of hypertools to pip)

[2017-06-05 12:18] andrewheusser commented on #106
👍 - all but two of these are working: ProjectedGradientNMF and NMF - ProjectedGradientNMF is being deprecated, and NMF (apparently) requires a sparse (and non-negative) matrix as input, which is a dtype we currently don't support.  @jeremymanning: should I try to add support for the sparse matrix dtype, or remove NMF from supported dim reduction techniques?

[2017-06-05 12:21] andrewheusser commented on #105
do you mean adding some examples using these new features to the gallery? @lucywowen is working on some tutorials like http://cdl-quail.readthedocs.io/en/latest/tutorial.html, but those are still underway

[2017-06-05 12:53] jeremymanning commented on #105
No-- I just mean updating the current examples (e.g. align, reduce, etc.) to use the simpler syntax.  But the tutorials will be helpful too!

[2017-06-05 12:55] jeremymanning commented on #106
Let's keep things simple and get rid of both of those (ProjectedGradientNMF and NMF).

[2017-06-05 12:56] jeremymanning commented on #106
(also: awesome!)

[2017-06-05 13:23] andrewheusser commented on #105
Got it!  I updated all the examples and created a log of the changes, ready for pip?

[2017-06-05 13:30] andrewheusser commented on #106
👍

[2017-06-05 13:39] jeremymanning commented on #105
ready for pip-- pip, pip, pooray! 🎉

[2017-06-05 13:43] jeremymanning commented on #105
eek-- wait!!!  saving animations is now crashing...

[code]

[2017-06-05 13:44] jeremymanning commented on #105
^ this also seems to affect 0.2.0 😿

[2017-06-05 13:45] andrewheusser commented on #105
do you have the most version of master? i patched that

[2017-06-05 13:48] jeremymanning commented on #105
ah-- nvm; just installed directly from git and it works again.  sorry for the scare.

[2017-06-05 13:49] andrewheusser commented on #105
all good! pushing to pip!

[2017-06-05 16:45] rarredon commented on #120
Hypertools should currently support saving animations to AVI files. The kw arg `save_path` just has to have the `.avi` postfix. This is because `ffmpeg`, the tool currently used to output the animations, supports writing to AVI files. To see what other file formats are supported by `ffmpeg`, you can run `ffmpeg -formats` in the command line.

Now onto exporting as GIF. The `ffmpeg` tool does not s

[2017-06-05 20:43] andrewheusser commented on #120
thanks @rarredon! i'll give that a try

[2017-06-13 04:14] MechCoder opened #135 "Should the rotation mattrix be orthonormal?"
I was reading the example (http://hypertools.readthedocs.io/en/latest/auto_examples/plot_procrustes.html#sphx-glr-auto-examples-plot-procrustes-py)

Shouldn't the rotation matrix be orthonormal? See https://en.wikipedia.org/wiki/Rotation_matrix#Properties_of_a_rotation_matrix

[2017-06-13 10:23] andrewheusser commented on #135
yes, totally correct.  good catch! patched on b369330

[2017-06-13 10:23] #135 closed

[2017-06-14 09:59] #105 closed

[2017-06-14 12:05] jeremymanning commented on #134
An alternative (also mentioned in [pull request](https://github.com/ContextLab/hypertools/pull/136)) would be to just default to IncrementalPCA, unless the user explicitly asks for PCA.

[2017-06-14 12:09] jeremymanning opened #137 "feature request: add describe support for new reduction models"
[This](https://github.com/ContextLab/hypertools/pull/136) pull request adds support for a wide range of new data reduction models.  However, there aren't equivalent `describe` methods like [this one](http://hypertools.readthedocs.io/en/latest/hypertools.tools.describe_pca.html#hypertools.tools.describe_pca) for those new models.

I propose changing the name of `hyp.tools.describe_pca` to `hyp.tool

[2017-06-14 15:43] andrewheusser commented on #134
starting with 0.3.0, IncrementalPCA is now the default!

[2017-06-14 15:43] #134 closed

[2017-06-14 15:43] andrewheusser commented on #106
included in 0.3.0 release

[2017-06-14 15:43] #106 closed

[2017-06-14 15:52] andrewheusser opened #138 "extend cluster function api"
Add the following to `hyp.tools.cluster`:

+ `Align` flag which aligns data before running clustering alg
+ `model` flag to specify dimensionality reduction alg used if ndims is not `None`
+ `model_params` flag to specify model parameters for dimensionality reduction model

@rarredon any interest? similar to what you helped with during the moz sprint :)

[2017-06-14 21:44] jeremymanning commented on #138
Also: we should add the `normalize` flag

[2017-06-20 17:49] rarredon commented on #138
Sounds good. I should be able to get those implemented this week, maybe even today.

[2017-06-20 17:52] jeremymanning commented on #138
awesome-- thanks @rarredon!

[2017-06-21 21:05] rarredon commented on #138
OK, I implemented the new kwargs but I'm getting an error when `align=True`. It seems `kmeans.fit(x)` expects `x` to be a 1 or 2 dimensional array for example, something like,

[code]

but `tools.align` returns a 3 dimensional array; something like

[code]

Do you guys have any ideas for how to handle this?

[2017-06-22 13:06] andrewheusser commented on #138
I think you want something like this before passing the data to `kmeans.fit`:

[code]

This should work, let me know!

[2017-06-22 16:40] rarredon opened #140 "Mutable Default Arguments in some Hypertools Functions"
I noticed there are some functions with mutable default arguments, for example, `hypertools.plot` has the kwarg `model_params={}`. This is a [common gotcha](http://python-guide-pt-br.readthedocs.io/en/latest/writing/gotchas/) in Python programming. While I don't think there's any issues with it now, this could potentially cause problems later. I recommend replacing the default argument with `None`

[2017-06-22 16:44] rarredon commented on #140
I can work on fixing this issue.

[2017-06-22 16:46] andrewheusser commented on #140
@rarredon that would be fantastic... thanks for the link! :)

[2017-06-26 15:54] jeremymanning opened #141 "bug: animation indexing error"
It looks like there is an offset issue in the animation code whereby:
- When `groups` isn't specified, the first point in the group is transparent, even when `chemtrails=False` and `precog=False`.
- When `groups` is specified, and `IndexError` is raised

To replicate this issue:
[code]

[2017-06-26 15:58] jeremymanning commented on #141
Note: to clarify the above example, this seems to be specific to when the marker style is specified, e.g. 'o' or similar.

Another weird behavior: when the line style is 'o-', it should look like the default plot (i.e. with smooth interpolation, as if the line style was '-', overlaid on a plot with line style of 'o'-- so with additional markers at the datapoints).  instead, there's no interpolatio

[2017-06-26 16:26] andrewheusser commented on #141
hmmm, i'll look into this soon!

[2017-07-24 13:09] andrewheusser opened #142 "BUG: legend isn't updated when color kwarg is specified"
the legend colors change when using the palette kwarg, but not when using the `color` kwarg:

<img width="528" alt="screen shot 2017-07-24 at 9 09 27 am" src="https://user-images.githubusercontent.com/6596567/28524763-d58eb07e-704f-11e7-910c-8e3fdfc8b9cb.png">

[2017-07-24 14:59] jeremymanning opened #143 "feature request: Gaussian Mixture Models as a cluster method"
this could provide a better clustering solution, e.g. for the [mushrooms clustering example](https://github.com/ContextLab/hypertools-paper-notebooks/blob/master/mushrooms.ipynb)

sklearn has a nice implementation that we could wrap: http://scikit-learn.org/stable/modules/generated/sklearn.mixture.GaussianMixture.html#sklearn.mixture.GaussianMixture

[2017-07-28 15:12] jeremymanning opened #144 "add reduce flag and model/model_params options to align"
We should give the user finer control over if/how data are reduced prior to alignment, within the `align` function.

[2017-08-11 02:09] jeremymanning opened #145 "UserWarning thrown when importing hypertools in jupyter notebook"
When importing hypertools in a jupyter notebook (`import hypertools as hyp`), the following warning is thrown:

[code]

Proposed fix: suppress this warning within hypertools (more info [here](https://docs.python.org/2/library/warnings.html))

[2017-08-11 12:56] andrewheusser commented on #145
@jeremymanning hmmm i'm having trouble replicating this error.  can you verify that you are running version 0.3.0?

[2017-08-11 12:58] andrewheusser commented on #145
also, which matplotlib version?

[2017-08-11 19:08] jeremymanning commented on #145
here's the version info (all of this is from the [MIND Docker Container](https://github.com/Summer-MIND/mind-tools)

[code]

[2017-08-11 19:20] andrewheusser commented on #145
got it, thanks.  I was able to replicate this by importing hypertools and seaborn in the same notebook.  They both rely on matplotlib and both attempt to change the default matplotlib backend.
The issue comes when any package imports matplotlib with a particular backend. after that happens hypertools is not able to switch it.

I can suppress the warning, but it also may be informative to throw a d

[2017-08-11 19:22] jeremymanning commented on #145
But don't we import seaborn from within hypertools?  And if so, what's the purpose of the warning?

[2017-08-11 19:27] andrewheusser commented on #145
The purpose of the warning is to say that the matplotlib backend was not switched.

hmm, yea we do import seaborn, but we import matplotlib before anything else, and I think seaborn supresses the warning. This is in our top level __init__.py script:

[code]

In the jupyter notebook you tried, do you import seaborn or anything else relying on matplotlib before hypertools?

[2017-08-11 19:39] jeremymanning commented on #145
Ah-- it seems like this could be it.  I get the warning when importing one or both of `seaborn` and `nilearn.plotting`.  The warning goes away when both of those are removed.

However, if both seaborn and nilearn mess with the matplotlib backend (but don't output warnings when they are imported together), I think hypertools should follow that behavior as well (by suppressing this warning).

Basica

[2017-08-11 19:40] jeremymanning commented on #145
Another note: it doesn't seem to matter if hypertools is imported first or last.

[2017-08-11 20:30] andrewheusser commented on #145
this is fixed on 9de0a517486e1e2acf8eb4532d546d59db423e82. i added:

[code]

[2017-08-11 20:31] jeremymanning commented on #145
🍾

[2017-08-11 20:34] andrewheusser commented on #145
ill push this to pip as 0.3.1

[2017-08-11 20:34] jeremymanning commented on #145
thanks!

[2017-08-11 20:34] #145 closed

[2017-08-16 20:41] jeremymanning opened #146 "feature enhancement: add new clustering algorithms"
- DBSCAN: http://scikit-learn.org/stable/modules/generated/sklearn.cluster.DBSCAN.html
- Gaussian mixture model: http://scikit-learn.org/stable/modules/mixture.html

Possibly others in: http://scikit-learn.org/stable/modules/classes.html#module-sklearn.cluster

[2017-08-23 20:58] chaseWilliams opened #147 "Syntax error in plot.py"
Because `plot.py` does `import warnings` instead of `from warnings import warn`, on line [177](https://github.com/ContextLab/hypertools/blob/master/hypertools/plot/plot.py#L177) there's a syntax error. Should be `warnings.warn`

[2017-08-23 21:30] chaseWilliams opened #148 "disabling the figure doesn't work as intended"
Using `show=False` in the `plot` function will still render the figure in jupyter notebook. Additionally, I found that when you run the function with `show=False` outside of jupyter (aka in normal conditions), a window of some sort is still spawned, just hidden. If you run, say,
[code]
Then not only will the latter graph pop up, but the former graph will also pop up. So evidently the figure is sti

[2017-08-23 22:49] chaseWilliams commented on #147
Nevermind, #139 fixes this. Closing.

[2017-08-23 22:49] #147 closed

[2017-09-14 00:01] renjithmadhavan opened #150 "Not able to install in python 3.6"
`---------------------------------------------------------------------------
ImportError                               Traceback (most recent call last)
<ipython-input-1-48afb9e37bd3> in <module>()
----> 1 import hypertools

ImportError: No module named hypertools`

[2017-09-14 00:02] renjithmadhavan commented on #150
Install seems to be good though.

`(python3) renjith@dlp20db:~$ sudo pip3 install hypertools
[sudo] password for renjith:
The directory '/home/renjith/.cache/pip/http' or its parent directory is not own                                                                                                              ed by the current user and the cache has been disabled. Please check the permiss

[2017-09-14 00:05] andrewheusser commented on #150
hmmm, strange. it runs fine on 3.6 on our travis setup.  what environment are you trying to run it in? i.e. jupyter notebook, ipython etc?

[2017-09-14 00:12] renjithmadhavan commented on #150
I was using conda.
Its my mistake . ( too many envs ).

Working now. Excited to try "hypertools".

[2017-09-14 00:13] andrewheusser commented on #150
:) nice! hope you find it useful

[2017-09-14 00:13] #150 closed

[2017-09-26 22:32] jeremymanning opened #151 "add brainIAK citation for SRM module"
From the BrainIAK readme:

[code]

The most obvious place, I think, would be to paste in the reference here: http://hypertools.readthedocs.io/en/latest/hypertools.tools.align.html#hypertools.tools.align

[2017-09-26 23:12] andrewheusser commented on #151
added citation and github link to the docstring on a3483415f581db4a660f197cca88278e7247f38.

[2017-09-26 23:46] andrewheusser commented on #151
updated the docstring: http://hypertools.readthedocs.io/en/latest/hypertools.tools.align.html#hypertools.tools.align

@jeremymanning can you close if satisfied?

[2017-10-01 16:19] jeremymanning commented on #151
👍

[2017-10-01 16:19] #151 closed

[2017-10-04 15:55] jeremymanning opened #152 "opening the black box"
consistency of API
- [x] ~~hyp.tools.normalize: add support for reduce and align~~

new data object
- [x] all functions: add support for a new "HypO" object that has the following fields:
  - .data: the data (a list, HypO object, pandas dataframe, or numpy array)
  - .reduce: dictionary of reduce model/args
  - .align: dictionary of align model/args
  - .normalize: string with normalization method

[2017-10-05 18:15] jeremymanning opened #153 "sequences of analysis operations"
we may want a way to support sequences of operations.  for example, could we come up with an elegant way of supporting something like:

- reduce data to n1 dimensions using algorithm 1
- align data using hyperalignment
- reduce the aligned data to n2 dimensions using algorithm 2
- align the result using SRM
- project the (twice-)aligned data onto 3d using algorithm 3

 if we add a `preprocess` fun

[2017-10-06 19:20] jeremymanning opened #154 "animate API (and style/labels)"
to keep things consistent with the new “dictionary-based” syntax for align and reduce, should we have `animate` accept a dictionary?  e.g. `animate={'rotations': 2, 'chemtrails': False, 'precog': True, 'frame_rate': 30}`

(and then throw a depreciation warning if the user sets duration, tail_duration, rotations, zoom, chemtrails, precog, bullettime, or frame_rate)

note: to keep the full API consi

[2017-10-06 19:44] jeremymanning commented on #153
another thought is to support a convenient syntax for something like:

`hyp.plot(hyp.tools.reduce(x, model='TSNE', ndims=10), model='SpectralEmbedding')`

Instead, we could support the following syntax:

`hyp.plot(x, model=['TSNE', 'SpectralEmbedding'], ndims=[10, 3])`

[2017-10-06 19:52] jeremymanning commented on #153
Also noting (per discussion with @andrewheusser), we could consider supporting something like

`hyp.plot(x, xform=[{'reduce': 'TSNE', 'params': {...}}, {'normalize': 'across'}, {'reduce': 'IncrementalPCA'}, {'normalize': 'within'}, {'align': 'hyperalignment'}, {'reduce': 'SpectralEmbedding'}])`

In other words, allow an `xform` keyword argument that takes a list of dictionaries, each specifying a

[2017-10-06 20:54] andrewheusser commented on #152
still need to:

- [ ] update docstrings
- [ ] check readthedocs
- [ ] write the save function

[2017-10-09 12:52] andrewheusser opened #155 "saving a DataGeometry object"
After performing an analysis and visualizing the result, we want to save out the `geo` so that it can be shared or loaded in at a later time.  After a little research, here are a few options:

+ `pickle` - this is the simplest way to save out an object.  the downside is that its not an efficient way to store large arrays of data, and loading pickles created in one version of python (2/3) and loade

[2017-10-09 12:55] jeremymanning commented on #155
I think hdf5 objects can be saved with hd5py...

Another option would be .mat files, which can be saved and loaded using script.

[2017-10-09 12:56] jeremymanning commented on #155
(I don't think breaking comparability is a good idea if we can avoid it)

[2017-10-09 13:45] andrewheusser commented on #155
I don't think python class instances can be saved with hdf5..i believe they first have to be converted to a dictionary, but i could be wrong.  i think this would be ok if we had a simple class instance to save, but the fact that the `DataGeometry.reduce/align/normalize/cluster` fields can be scikit-learn class instances and custom written functions (where we have no idea what kinds of data structu

[2017-10-09 13:57] andrewheusser commented on #155
here's another possibly useful solution: https://github.com/jsonpickle/jsonpickle

converts python objects to json

[2017-10-09 14:00] andrewheusser commented on #155
^ the advantage to converting to json is that it is not only (python) cross-version compatible, but many other languages can handle json.

[2017-10-09 19:57] andrewheusser commented on #155
went with hd5, closing this issue!

[2017-10-09 19:57] #155 closed

[2017-10-12 17:33] andrewheusser opened #158 "memoize function doesn't consider default function args before caching"
The memoize function could be extended by considering the default arguments before caching is done.  for example:

`hyp.reduce(data, reduce='IncrementalPCA', ndims=5)`
and
`hyp.reduce(data, ndims=5)`

do the same thing since the default reduction model is `IncrementalPCA`.  However, because the cache key is a str comprised of the inputs, they are not treated as the same.  Considering the default a

[2017-10-13 16:11] jeremymanning opened #159 "readthedocs API changes"
I think a few minor changes would help make the API documentation a bit clearer on readthedocs:

- Make a note in `hypertools.tools.describe_pca` that the function is depreciated (replaced by `hypertools.describe`
- Change order of main functions to: plot, analyze, normalize, reduce, align, cluster, describe
- Make a note in `hypertools.tools.procrustes` that the function is depreciated (replaced

[2017-10-18 17:42] andrewheusser commented on #128
closing this and opening another issue with more tutorials

[2017-10-18 17:42] #128 closed

[2017-10-18 17:42] #129 closed

[2017-10-18 18:37] andrewheusser opened #160 "tutorials"
To help users get started with the tutorial, it would be nice to have a set of tutorials that go over the main features (something like this: http://cdl-quail.readthedocs.io/en/latest/tutorial.html).  Each tutorial can be a separate Jupyter notebook.

- Notebook titles should written in a markdown cell using `#` to make it large
- Subtitles should be written in a markdown cell using `##` to make t

[2017-10-18 20:49] jeremymanning commented on #160
Sounds like a great idea!  :+1:

These should probably go into [this repo](https://github.com/ContextLab/hypertools-paper-notebooks), and we should consider renaming that repository to `hypertools-examples` or simililar (and then we should update all links to the original notebook).

The reason to include these in a separate repo is to prevent users/developers from having to download extra stuff i

[2017-10-18 21:00] andrewheusser commented on #160
For `quail`, I have these in the docs folder, because you can autocompile notebooks into a websitesee [here](http://cdl-quail.readthedocs.io/en/latest/tutorial.html).

[2017-10-18 21:11] jeremymanning commented on #160
That looks perfect-- let's do that!

[2017-10-22 00:19] jeremymanning commented on #101
Potentially useful library (thanks for the twitter tip, @andrewheusser!): http://streamz.readthedocs.io/en/latest/

A tutorial-style description may be found here: https://matthewrocklin.com/blog//work/2017/10/16/streaming-dataframes-1

[2017-10-22 00:51] #152 closed

[2017-10-22 01:06] jeremymanning opened #161 "extend DataGeometry objects to provide access to "transform" and "inverse" methods"
The new `DataGeometry` objects allow users to apply the same sequences of operations (that were applied to old data) to new data.  However, the parameters of those transformations are currently fit anew for the new data.  Therefore it is still inelegant to map new data onto the same space as old data without refitting the model.

The fundamental challenge is that it is not always a straightforward

[2017-10-22 01:11] jeremymanning opened #162 "Autoencoders as a dimensionality reduction algorithm"
We could support dimensionality reduction through autoencoders.  Here's a useful looking tutorial (it looks relatively straightforward to implement all of the variants in the tutorial): https://blog.keras.io/building-autoencoders-in-keras.html

- [ ] shallow autoencoder
- [ ] deep autoencoder
- [ ] sparse autoencoder
- [ ] convolutional autoencoder
- [ ] sequence-to-sequence autoencoder (good for

[2017-10-22 01:14] jeremymanning commented on #162
If we implement this using the standard hypertools API (e.g. through the `reduce` function/flag), it would provide a really convenient way to train and apply autoencoders.  I think some neat demos would come out of it.

[2017-10-22 01:17] jeremymanning commented on #119
this is a subset of [this issue](https://github.com/ContextLab/hypertools/issues/161)...closing.

[2017-10-22 01:17] #119 closed

[2017-10-22 01:17] jeremymanning commented on #144
@andrewheusser I think we've done this-- if so, can you close this issue?

[2017-10-22 01:19] jeremymanning commented on #148
Is this fixed with the above pull request?  If so, let's close this issue.

[2017-10-22 01:21] jeremymanning commented on #140
@rarredon and/or @andrewheusser can you provide a status update on this issue?

[2017-10-22 01:22] jeremymanning commented on #137
This is implemented in 0.4.0-- closing.

[2017-10-22 01:22] #137 closed

[2017-10-22 01:24] jeremymanning commented on #118
Ah...this issue redundant with [this issue](https://github.com/ContextLab/hypertools/issues/162).  I've spelled things out a bit more in the newer version, so I'm going to close this one.

[2017-10-22 01:24] #118 closed

[2017-10-22 01:24] #115 closed

[2017-10-22 01:27] jeremymanning commented on #98
This issue is now redundant with [this one](https://github.com/ContextLab/hypertools/issues/161).  Closing...

[2017-10-22 01:27] #98 closed

[2017-10-23 12:35] andrewheusser commented on #140
this is fixed in 0.4.0 - thanks @rarredon for pointing it out 🥇

[2017-10-23 12:35] #140 closed

[2017-10-23 12:36] andrewheusser commented on #144
we stripped this functionality out of align, but the new `analyze` function can do this, so i'll close

[2017-10-23 12:36] #144 closed

[2017-10-23 21:14] jeremymanning commented on #161
[This paper](http://proceedings.mlr.press/v5/maaten09a/maaten09a.pdf?q=parametric-embedding-for-class-visualization) introduces "parametric t-SNE" that can be used to transform new data (using the same transformation that was learned from training data).  There's no scikit-learn implementation, but the paper includes a link to a MATLAB implementation (that we could potentially translate into Pytho

[2017-10-23 21:18] andrewheusser commented on #161
looks like he has a python implementation on this page: https://lvdmaaten.github.io/tsne/

[2017-10-23 21:29] jeremymanning commented on #161
I can't see how to transform new data (in either the python or matlab versions), but I haven't gone through the paper in detail.

I found the paper above through this discussion: https://www.researchgate.net/post/How_to_integrate_new_data_in_a_TSNE_map

One suggestion from that discussion is to "train a multivariate regressor to predict the map location from the input data."  That's at least strai

[2017-10-24 17:16] jeremymanning opened #163 "add soundtrack"
include an animation flag that will (optionally) add a dramatic soundtrack (or a user-selected audio file) to animations.

eventually we could automatically generate an audio soundtrack using the data.  🎶

[2017-11-03 12:05] jeremymanning opened #164 "enhancements and fixes to `DataGeometry` objects and argument parsing"
`DataGeometry` instances provide a way to apply the same transformations to new data, or re-apply transformations to old data.  There are several issues with the current implementation.  I've outlined what I think are the biggest issues below (these should probably be divided into separate issues).

### Exposing all hypertools functions from `DataGeometry` instances
In addition to `plot` and `tran

[2017-11-03 21:49] jeremymanning opened #165 "animation "chemtrails" bug"
Possibly related to [this issue](https://github.com/ContextLab/hypertools/issues/141)

For the first few frames of animations where `chemtrails=True`, the entire trajectory is (incorrectly) shown.  To reproduce:

[code]

Expected behavior: the first few frames should display a solid colored line; as the animation progresses the solid part should animate along the path (staying a constant length),

[2017-11-07 15:14] andrewheusser opened #166 "Legend colors are not updated when colors are set with format strings or color kwarg"
The legend colors are set by the palette and not updated when the colors are specified manually.  To replicate the bug:

[code]

outputs this:

![download](https://user-images.githubusercontent.com/6596567/32500822-71e80086-c3a4-11e7-9ebb-2512fd9120a2.png)

[2017-11-16 03:14] jeremymanning opened #167 "expose `format_data` to user via `helpers`"
The `format_data` function is useful!  Let's expose it to users via `hyp.tools.as_np` (with PPCA='False' by default).

[2017-11-18 14:29] jeremymanning commented on #167
hey @andrewheusser-- I implemented this change in this branch: https://github.com/ContextLab/hypertools/tree/expose_format_data

could you please:
- take a look
- add a doc string so that it appears in our API documentation
- if the changes look good, pull the branch into master
- update the version number (minor version += 1) and push to pip

[2017-11-19 17:08] andrewheusser commented on #167
should be good! see #168

[2017-11-19 17:23] #167 closed

[2017-11-30 22:16] jeremymanning opened #169 "Use Kalman filter to fill in missing data"
We currently use PPCA to infer nans.  This works when, for the affected timepoints (or observations), at least *some* of the features are observed.  However, when *none* of the features at a given timepoint are observed, PPCA can't fill in those missing features.

To deal with the scenario where all features are nans, we could use a Kalman filter (smooth + predict) to fill in the missing data usin

[2017-11-30 22:17] andrewheusser opened #170 "Fix the binder link in the README"
There is an error when launching the example notebook using the new and improved Binder:

[code]

tkinter is not on pip, so we need to a) scrap the reqs file and make a docker image, or b) figure out if we can remove tkinter a a hypertools dependency

[2017-12-02 19:14] alokkumary2j commented on #146
@jeremymanning I am interested in working on this issue. Please let me know, if this is something which is still open, relevant and of high priority.

[2017-12-02 19:55] jeremymanning commented on #146
@alokkumary2j this would be great!  Let me or @andyheusser know if you need help getting started.

[2017-12-03 11:47] svadams opened #172 "Animate not working in 64 bit anaconda install (python 2.7)"
I am using hypertools version 0.4.0

If I do a load and basic plot of the mushroom dataset as follows:

data = pd.read_csv('./mushrooms.csv')
hyp.plot(data, '.', animate=True)

I get the error message:

 File "D:\Anaconda2_64\lib\site-packages\hypertools\plot\draw.py", line 430, in
   assert x[0].shape[1] is 3, "Animations are currently only supported for 3d plots.
AssertionError: Animations are c

[2017-12-03 11:49] svadams commented on #172
Sorry...should have added that I'm on Windows 7 !

[2017-12-03 12:21] andrewheusser commented on #172
hmmm, that's an odd bug.  thanks for bringing it to our attention! will look into it

[2017-12-03 12:55] alokkumary2j commented on #146
Thanks @jeremymanning for the confirmation.
Do you or @andrewheusser has any particular thought(s) around how to incorporate these changes? I would definitely like to understand your thoughts before I initiate. For example, the current definition of the cluster supports n_clusters as a parameter, which is not directly supported by Scikit DBSCAN implementation.
Also, what would be the best medium t

[2017-12-03 15:35] andrewheusser commented on #146
My opinion would be to keep the hypertools cluster API as consistent as possible, even if the scikit-learn is different.  For the gaussian mixture model, I would map `n_components` -> `n_clusters`, while leaving all of the rest of the arguments the same.  Since DBSCAN discovers n_clusters, if the user inputs `n_clusters` and `cluster='DBSCAN`, I would just throw a warning that says `n_clusters` is

[2017-12-03 21:02] alokkumary2j commented on #146
Since the Gaussian Mixture Model was relatively straightforward, I completed the work on it and ran through the pytest script with all 97 test cases being passed. Request you (@jeremymanning  and @andrewheusser ) to have a look and share your feedback.

Additionally, I would also like to have your feedback on below points:
1. We can probably provide custom messages to the users, in case wrong para

[2017-12-03 22:24] andrewheusser commented on #146
@alokkumary2j awesome! thanks for your work on this!  We'll take a look and approve or make suggestions.

To address your questions:

_We can probably provide custom messages to the users, in case wrong parameters or bad input is passed._
Yes, this would be great in the case where a user passes n_clusters and uses DBSCAN.  Did you have another case in mind?

_Also, if we plan to support more and m

[2017-12-04 19:34] jeremymanning opened #174 "Support for scikit-learn's LatentDirichletAllocation and NMF, extend support for GaussianMixtureModel and BayesianGaussianMixtureModel"
We should add support for LDA and NMF: http://scikit-learn.org/stable/modules/classes.html#module-sklearn.decomposition

These can be supported both via `cluster` and `reduce`:

Cluster: behaves similarly to GaussianMixtureModel (estimate how much of each factor is reflected by/in each observation)
Reduce: to reduce the data to n-dimensions, fit LDA/NMF with n components

Some sample code may be f

[2017-12-04 19:37] jeremymanning opened #175 "Support for text features and CountVectorizer matrices"
When the user passes text to hypertools, we could turn the text into a CountVectorizer matrix and plot it (or analyze it) using the existing hypertools functions.

Similarly, we could directly support CountVectorizer matrices.

Sample code: https://github.com/ContextLab/storytelling-with-data/blob/master/data-stories/twitter-finance/twitter-finance.ipynb

This would be especially useful in conjunc

[2017-12-06 14:47] andrewheusser commented on #160
I've finished and push edits on 4/7 tutorials. Will finish the rest today/tomorrow!

[2017-12-16 23:37] jeremymanning opened #177 "Add support for Google Drive and other easy-to-add filetypes to `hyp.load`"
I think we could easily add support for loading the following (provided as a string to `hyp.load`):
- arbitrary Google Drive files (user provides file id)
- .npy
- .npz
- .pkl
- .csv
- .xls
- .xlsx
- others?

[2017-12-19 20:45] jeremymanning opened #178 "In `plot`, rename `group` keyword argument to `hue`"
We could keep legacy support for the group keyword for a few versions (throwing a warning if `group` is used).  But I think `hue` more accurately reflects what that keyword actually controls-- i.e. the color used to plot each observation.

[2018-01-02 19:29] #160 closed

[2018-01-11 05:24] alokkumary2j commented on #113
Interesting thought, looks very exciting!
@jeremymanning - Was there any work done on this Issue or any plans of revisiting it?

[2018-01-11 19:50] jeremymanning commented on #113
Hi @alokkumary2j we haven't made any real progress on this, but I'm very interested in revisiting it!  One idea we were throwing around was to support streaming data through [Streaming Dataframes](http://matthewrocklin.com/blog/work/2017/10/16/streaming-dataframes-1).

If you'd like to do some work on this, I'd be happy to coordinate about where it might make sense to get started, and/or help thin

[2018-01-17 21:02] andrewheusser commented on #175
I've started working on this in the text-features branch.  I wrote a `text2mat` function, which takes a list (or list of lists) of text samples as input and converts them to matrices using a vectorizer (count or tfidf, or custom) followed by a text model (LDA or NMF or custom).

To implement this in the plot function so that users can pass text directly to `hyp.plot`, i will:

+ extend the `format

[2018-01-19 20:53] jeremymanning commented on #175
There are several possible cases that I think we should support:

*Text passed as strings and lists:*
  1. Text passed as a single string -- e.g. `hyp.plot('this is some text')`.  Treat the string as a single document.
  2. Text passed as a list of strings -- e.g. `hyp.plot(['this is', 'some text'])`.  Treat each string as a document, and the list as a collection (so there will be 2 observations t

[2018-01-22 18:50] andrewheusser opened #181 "Update plot return docstring"
docstring still says that the plot function will return fig, ax... instead of a geo class

[2018-01-22 22:11] andrewheusser commented on #175
_Text passed as strings and lists:
Text passed as a single string -- e.g. hyp.plot('this is some text'). Treat the string as a single document.
Text passed as a list of strings -- e.g. hyp.plot(['this is', 'some text']). Treat each string as a document, and the list as a collection (so there will be 2 observations to plot in this case).
Text passed as a list of lists of strings -- e.g. hyp.plot([[

[2018-01-22 22:26] jeremymanning commented on #175
Topic models don't care about the text order-- the steps to get topic vectors from text is:
- Convert text to CountVectorizer object
- Fit topic model using CountVectorizer object as the input

So all we have to do with CountVectorizer objects is skip the first step

It's true that hyperalignment will *run* if the number of features are mismatched.  But the way I'm thinking about this is that we w

[2018-01-22 22:37] jeremymanning opened #182 "Branching vs. forking"
Given that we are now working with a "live" project, I think it's time to stop using branches to store in-progress code.  To this end, let's:

- [ ] close existing branches as it becomes possible (we can phase them out gradually to the extent that we won't lose work)
- [ ] moving forward, the preferred method of adding/modifying hypertools is:
  - Fork repo
  - Do the modifications
  - Submit a pu

[2018-01-22 22:43] jeremymanning opened #183 "Major version release"
Let's work towards a feature list that we'd want to incorporate into a 1.0.0 release.  For example:
- What's currently broken and/or set up in a sub-optimal way?
- What features would be nice to add?
- What can we do to finalize the API and maximize compatibility with future releases?
- Is there anything we should *remove* from the current list?  (E.g. features we don't support well and that we do

[2018-01-22 23:04] andrewheusser commented on #175
_Convert text to CountVectorizer object
Fit topic model using CountVectorizer object as the input_

As I understand it, the input to the LDA model is text data that has been _transformed_ by a `CountVectorizer` object, which is just a samples by features matrix of word counts (not a class instance of a `CountVectorizer` object).  The way I've got it set up now is that you can pass a 'custom' `Coun

[2018-01-22 23:23] jeremymanning commented on #175
I was imagining that we'd just support *fitted* CountVectorizer objects, as an alternative to passing in the text directly and fitting a CountVectorizer from that.  But in digging into this more, I'm realizing the setup I was imagining won't work-- I had thought we could pass CountVectorizer objects directly to LDA, but (as you pointed out) that's not actually what LDA supports.

So given this "ne

[2018-01-23 14:19] andrewheusser commented on #175
Alright that sounds good to me.  Just a few more questions before I think it's ready to merge:

1) As a shortcut to specifying a dictionary, the `text2mat` function has a `n_components` kwarg to specify the number of text dimensions.  Do we want to remove that, and just support the dictionary input format (`text2mat(text_samples, text={'model' : 'LatentDiricheletAllocation', 'params' : {'n_compone

[2018-01-23 14:36] jeremymanning commented on #175
- I worry that `n_components` is going to be confused with `n_dims`, so I don't think we should expose that flag to the user unless it's obvious that they are referring to a text model.  If they want a quick fit, they can just trust the default parameters-- and if they want to customize, then we offer a way to do that in one line (analogous to how they can tweak the parameters of the reduce and cl

[2018-01-23 14:41] andrewheusser commented on #175
_I worry that n_components is going to be confused with n_dims, so I don't think we should expose that flag to the user unless it's obvious that they are referring to a text model. If they want a quick fit, they can just trust the default parameters-- and if they want to customize, then we offer a way to do that in one line (analogous to how they can tweak the parameters of the reduce and cluster

[2018-01-27 06:10] mhlr opened #184 "arranging hypertools plots into a grid of subplots"
How can I arrange multiple hypertools plots into a grid of subplots?

[2018-01-29 15:41] andrewheusser commented on #184
Hi @mhlr - we are adding an `ax` argument to the plot function in the next release coming out soon, which should make this easy.

[2018-01-29 16:16] mhlr commented on #184
@andrewheusser Thanks, that is great! By soon do you mean days, weeks, or months?

[2018-01-30 16:42] andrewheusser commented on #184
@mhlr Most of the code for the release is almost there, so it should be functional if you don't mind installing from the master branch.  I'll have that done within a week, and I'll let you know when the ax param has been added, unless you'd like to take a stab at it.  The "official" 0.5.0 release (e.g. push to pip) will probably happen sometime in Feb.

[2018-01-31 16:37] jeremymanning opened #185 "support data formatting via pliers"
[Pliers](https://github.com/tyarkoni/pliers) is a fantastic looking toolkit for converting a wide variety of data formats into feature vectors.  This seems like a perfect sub-routine for hypertools, e.g. via the `format_data` function.  Idea:

- User passes in messy data in mixed formats
- Inside `format_data` we:
  - Group "like" data (e.g. text with text, images with images, numbers with numbers

[2018-01-31 16:48] andrewheusser commented on #183
one thing that would be potentially tricky to implement but well worth it would be to rewrite the `transform` method of a geo to transform the input data with the pipeline of models fit when the geo was created, instead of just replicating the pipeline, but fitting new models.

[2018-01-31 16:50] jeremymanning commented on #183
agreed...we would need to save the model objects and any inputs they require.  we need a systematic way (pickling?  saving lists or dictionaries of arguments?) of keeping track of all the needed stuff, ideally in a way that generalizes across the various models we might want to use.

[2018-01-31 16:54] andrewheusser commented on #183
yes, and also rewriting some of the functions (align coming to mind, but maybe others) to conform to the `fit` `transform` sklearn API

[2018-01-31 16:56] jeremymanning commented on #183
'twould be great.  i think the pymvpa2 implementation of hyperalignment would be adaptable to that style [[link](https://github.com/PyMVPA/PyMVPA/blob/master/mvpa2/algorithms/hyperalignment.py)]

[2018-01-31 17:25] andrewheusser commented on #183
yes, i think that will work! `train`->`fit`, `transform`->`transform`

[2018-02-04 20:33] jeremymanning opened #186 "Add support for 3d stream graphs"
Something like this, but 3d: https://bl.ocks.org/mbostock/4060954

[2018-02-16 16:04] jeremymanning opened #187 "text download idea"
We could add a function to automatically download text for a given keyword (or set of keywords) from one of a pre-selected set of sources (e.g. wikipedia, twitter, youtube comments, etc.).  E.g.:

`words = hyp.tools.textlookup(['apple', 'banana', 'cat', 'dog'], text_source='twitter', text_params={'n_tweets': 1000})`
returns a list (length 4) of lists of tweets about each topic.  Or

`words = hyp.t

[2018-02-16 17:23] #175 closed

[2018-02-16 17:24] #165 closed

[2018-02-16 21:07] #178 closed

[2018-02-16 21:53] andrewheusser commented on #184
Hi @mhlr - this is now implemented on the text-features branch.  i'll be working to get the 0.5.0 release out next week if you want to wait until it is officially supported!

[2018-02-16 21:53] #184 closed

[2018-02-16 22:13] andrewheusser commented on #166
fixed on text-features

[2018-02-16 22:13] #166 closed

[2018-02-19 13:47] andrewheusser opened #188 "Class for datasets"
As the number of supported example datasets grows, it would be nice to standardize them.  The tricky part is that the datasets come in multiple forms: numpy array, lists of numpy arrays, dataframes, lists of text (maybe more)? Further, some of them have labels, and others do not. Sklearn has a simple class that contains a `data` and a `target` field:

[code]

The labels are called `target` because

[2018-02-19 13:48] andrewheusser commented on #188
we will also be loading models (like the wiki model)...we could fit them in to this data model, create a new class, or just leave them as they are...

[2018-02-19 21:23] andrewheusser opened #189 "save raw data in geo instead of formatted data"
In implementing the text features, I ran into a bug where I could not change any of the text parameters when replotting a `geo`.  After a battle, I realized that the reason is because the `geo.data` field contains the **formatted** data, not the raw input data.  The problem lies in that we implemented the text transformations within the `format_data` function. So, no text is saved in the geo, and

[2018-02-19 21:57] andrewheusser commented on #189
we decided to save the raw (unformatted) data in the geo, instead of the formatted data

[2018-02-19 21:57] #189 closed

[2018-03-05 18:35] andrewheusser commented on #188
we decided to turn the example datasets into geos

[2018-03-05 18:35] #188 closed

[2018-03-05 22:32] andrewheusser opened #190 "feature request: meanshift clustering"
add mean shift clustering when #173 is merged in

[2018-03-06 19:38] jeremymanning opened #191 "enhancement: replace matplotlib with ipyvolume"
[ipyvolume](https://github.com/maartenbreddels/ipyvolume) does amazing (and fast!) interactive 3d rendering.  let's consider replacing the matplotlib engine with ipyvolume.  To discuss:
- handling of plot options and arguments (how can we preserve as much of the current syntax as possible)?
- do we want to continue to support 2d rendering?  is that possible/easy with ipyvolume?
- are there other c

[2018-03-06 19:42] jeremymanning commented on #101
This might be useful for adding support for streaming data: https://ipywidgets.readthedocs.io/en/latest/

[2018-04-03 20:22] andrewheusser opened #192 "arrays with one row are omitted if using line plot"
to replicate this issue:
[code]
show's up as a blank plot, however `hyp.plot(data, '.')` plots the data as points. The issue is that an array with a single row (and thus a single coordinate) cannot be plotted as a line (matplotlib draws nothing in this case).  This issue also comes up when passing text data as a list of strings:

[code]

one way to overcome this would be to check to see if each ar

[2018-04-03 20:34] #170 closed

[2018-04-06 23:03] andrewheusser opened #193 "Feature request: make geo objects iterable and indexible"
and possibly have them be extensions of numpy arrays or dataframes

[2018-04-18 16:01] andrewheusser opened #194 "Reset data cache on install"
Problems can arise if the user has an outdated dataset cached on their computer.  This could be resolved if we reset that data cache upon install/reinstall.

[2018-04-20 07:37] galenwilkerson opened #195 "Failed building wheel for hdbscan"
I've gotten this error for both methods of installation.   Using an anaconda 3.6 environment.

[code]

[code]

[code]

[code]

[2018-04-20 11:55] andrewheusser commented on #195
hmmm, this is an odd bug since one of our automated tests is miniconda/python3.6... @lmcinnes, have you come across any issues like this?

[2018-04-20 11:56] andrewheusser commented on #195
@galenwilkerson - could you try: `apt-get install python3-dev` and let us know if that fixes it?

[2018-04-20 12:35] galenwilkerson commented on #195
Hi, will this break my python 3.6 conda environment?
Thanks

[2018-04-20 12:38] andrewheusser commented on #195
I dont think so, but to be sure you could set up a test env e.g. `conda create -n myenv python=3.6`

[2018-04-20 13:03] galenwilkerson commented on #195
OK, i've created a test environment:

[code]

[code]

[code]

... installed correctly until this:
[code]

environment info:

[code]

[code]

[2018-04-20 13:06] galenwilkerson commented on #195
OK, just installed HDF5 successfully with
``` conda install HDF5```

Running
```pip install hypertools```

...

[2018-04-20 13:11] galenwilkerson commented on #195
Hmm, now although it says installed correctly, doesn't seem to truly import hypertools:

[code]

[2018-04-20 13:12] galenwilkerson commented on #195
[code]

[2018-04-20 13:13] galenwilkerson commented on #195
I prefer not to run
[code]
since I'm afraid it will clobber something.

[2018-04-20 13:52] andrewheusser commented on #195
It looks like ipython is using a different version of python `Python 3.5.2 (default, Nov 23 2017, 16:37:01) ` (not the one installed in your test env). looks like you may need to install ipython in your text env

[2018-04-22 10:36] andrewheusser commented on #195
@galenwilkerson were you able to resolve this?

[2018-04-22 10:47] galenwilkerson commented on #195
Nope, I don't think your suggestion was correct about ipython. Let me know
if you get it working.

On Sun, Apr 22, 2018, 12:36 PM Andy Heusser <notifications@github.com>
wrote:

[2018-04-22 11:02] andrewheusser commented on #195
ok, the issue is likely related to installing hdbscan using pip instead of conda for anaconda environments, see https://github.com/scikit-learn-contrib/hdbscan/issues/143.

can you try installing hdbscan with conda? `conda install -c conda-forge hdbscan`. if that works, i'll add a note to the readme

[2018-04-24 20:44] cclauss opened #196 "Undefined name 'reduc'"
https://github.com/ContextLab/hypertools/blob/master/tests/test_reduce.py#L38

Discovered via #197
* https://travis-ci.org/ContextLab/hypertools/jobs/370859623#L1014-L1051

[2018-04-24 21:12] jeremymanning commented on #196
Good catch @cclauss-- thanks!

[2018-04-24 21:15] cclauss commented on #196
flake8 testing of https://github.com/ContextLab/hypertools on Python 3.6.3

$ __flake8 . --count --select=E901,E999,F821,F822,F823 --show-source --statistics__
[code]

[2018-04-25 01:04] jeremymanning opened #198 "More text models"
Looks like we could relatively easily add support for a bunch more models via this package: https://radimrehurek.com/gensim/install.html

[2018-04-26 14:11] andrewheusser opened #199 "add tests for procrustes function with non-default parameters"
we only have a test case for the procrustes function with default parameters.  we should test permutations of these parameters to be sure everything is working properly

[2018-04-28 18:07] #196 closed

[2018-04-28 18:07] #192 closed

[2018-04-29 07:10] mortimer125 opened #200 "ImportError: cannot import name UMAP"
Hi！ I encountered a strange problem：
In [1]: import hypertools
---------------------------------------------------------------------------
ImportError                               Traceback (most recent call last)
<ipython-input-1-48afb9e37bd3> in <module>()
----> 1 import hypertools

/root/Desktop/hypertools/hypertools/hypertools/__init__.py in <module>()
      1 #!/usr/bin/env python
      2 fr

[2018-04-29 12:40] jeremymanning commented on #200
Hi @mortimer125, thanks for your bug report!  Some additional information will help us debug this:
- Did you have a prior version of hypertools installed (before upgrading to the latest version)?
- What version of Python are you using?
- If you could provide a list of other Python packages you have installed, we may be able to use that info too.
Thanks!

[2018-04-29 12:47] mortimer125 commented on #200
ok firstly, it's my first time to install hypertools.
secondly, python 2.7.13
finally,  the following list is the result of pip list

absl-py                       0.2.0
asn1crypto                    0.22.0
astor                         0.6.2
backports.functools-lru-cache 1.5
backports.weakref             1.0.post1
bleach                        1.5.0
certifi                       2017.7.27.1
cffi

[2018-04-29 12:49] jeremymanning commented on #200
Sorry-- could you also provide a short demo script that reproduces the error on your system?

[2018-04-29 12:53] mortimer125 commented on #200
I just write 'import hypertools' in ipython, then it reports errors.

[2018-04-29 12:55] jeremymanning commented on #200
Got it-- we will look into this!

[2018-04-29 13:54] jeremymanning commented on #182
All non-master branches are now closed.

[2018-04-29 13:54] #182 closed

[2018-05-01 18:33] jeremymanning opened #204 "1000 stars"
:star: Congrats @gmnotaro for being the 1000th star-er! ⭐️
![screenshot 2018-05-01 14 32 08](https://user-images.githubusercontent.com/9030494/39487240-83f13f72-4d4c-11e8-9c47-bc05c8504b3d.png)

[2018-05-02 04:24] manybooks opened #205 "support for multibyte character labels"
Is there any way to use the multibyte characters as labels?
I tried `hyp.plot(x, labels=multibyte_characters)` but not worked.
( In `matplotlib.pyplot`, I always use `fontproperty` )

[2018-05-02 11:06] jeremymanning commented on #205
Thanks for submitting an issue!  Can you paste in the error you're encountering?  And could you also provide a full snippet that we could use to replicate the error?

[2018-05-02 11:26] manybooks commented on #205
I apologize for confusing you.
I didn't get any error. But every multibyte characters are replaced by white square.
(The link below is example of matplotlib but it will help you what I'm saying)
http://cdn-ak.f.st-hatena.com/images/fotolife/s/sucrose/20130610/20130610000617.png

And my code is as follows.
[code]

[2018-05-02 11:42] jeremymanning commented on #205
Ah, thanks for clarifying.  We use matplotlib as our back end renderer, so if the issue is also part of matplotlib we won't be able to address it directly within hypertools.  Could you submit an issue to matplotlib as well?

In the mean time, we are also looking into other renderers (plotly and ipyvolume), so I'll leave this issue open until the multibyte character issue is resolved.

[2018-05-02 11:53] manybooks commented on #205
In matplotlib, I can render multibyte charcters by passing `fontproperty` like this.

[code]

So I want you to provide any way to specify fontproperty of matplotlib working in the backend.

[2018-05-03 15:39] jeremymanning opened #206 "handling extra keyword arguments"
If the user passes in non-hypertools keyword arguments, we should pass them to our plotting backend.  This is somewhat non-trivial in that we need to handle the case where the user wants different values for different elements of the to-be-plotted data list.  I think what should happen is:
- if data is *not* a list, just pass along additional keywords without modifying them
- if data *is* a list:

[2018-05-03 19:43] jeremymanning commented on #205
@manybooks thanks for the additional info.  i've added [an issue](https://github.com/ContextLab/hypertools/issues/206) to add functionality to allow passing arguments to matplotlib through `hyp.plot`.

[2018-05-04 02:59] urasam39 opened #207 "animation legend looks wrong"
I'm using hypertools 0.5.0 on mac 10.13.4.

When I show legend while animation like this,

[code]

two legends was generated.

<img width="633" alt="outputanimate" src="https://user-images.githubusercontent.com/15843110/39611394-38b1d7d6-4f92-11e8-8e72-ba5d5e8e0c8c.png">

What is second "1" and "2" ??

If no animation, legend was ok.

<img width="627" alt="no_animate" src="https://user-images.gith

[2018-05-04 04:41] zhouyanasd opened #208 "ImportError: numpy.core.multiarray failed to import"
I got an ImportError when I import hypertools, and my numpy is 1.12.1 in windows(or 1.14 in mac). How can I run it?

[2018-05-04 09:55] jeremymanning commented on #208
Hi @zhouyanasd -- which version of Python are you running?  Also, can you paste in the output of `pip freeze`?

[2018-05-08 10:08] villawang commented on #200
I came across this problem as well. I just found my issue was related to the package seaborn. I got this issue sorted by removing seaborn and reinstalled it.
`pip uninstall seaborn`
`pip install seaborn`
Make sure you use pip 9 instead of pip 10.

[2018-05-08 12:16] andrewheusser commented on #200
hmmm, that is strange because UMAP is a separate package and shouldn't be related to seaborn.  Maybe the conflict is coming from one of seaborn's dependencies...i'll look into it!

[2018-05-08 12:55] zhouyanasd commented on #208
Of course and thank you for your reply. My version of python is 3.6, here is the `pip freeze`:
[code]
The impor error is like this:
[code]

[2018-05-10 05:47] codeisbeauty commented on #208
`pip install --user numpy `

works for me.

I m in win 7 and the numpy version is 1.13.3 after updating

[2018-05-16 16:45] jeremymanning opened #209 "use isinstance instead of is or == to test for object type compatability"
Our current type checking machinery is not robust to sub-classes.  We should instead use `isinstance(x, desired_type)` for these checks.

[2018-05-18 06:53] zhouyanasd commented on #208
Hi Thank you for your reply and sorry for the delayed reply, I have tried in another environment with numpy 1.13.3, but this issue still exists. Is it some other thing I missed?

[2018-05-22 12:12] andrewheusser opened #210 "interference with seaborn/matplotlib settings"
When the plot function is called, hypertools modifies seaborn/matplotlib settings, causing plots run after a hypertools plot function call to change.  I believe it's caused by calling `set_palette` and `set_style` inside the plot function, which we should remove and modify the plot instance directly

[2018-06-04 13:46] qihongl commented on #120
Hi, are people still working on this issue?

And currently, what's the best way of saving an animation plot?

Thanks!

[2018-06-04 13:55] qihongl opened #211 "customize linewidth?"
Is it possible to customize the linewidth (ideally for each line) of the plot? I think this would be a nice feature. And I couldn't figure out how to do that.

[2018-06-04 16:00] jeremymanning commented on #120
@qihongl did you install `ffmpeg`?  That's needed to save animations...

[2018-06-04 16:10] qihongl commented on #120
Thanks! @jeremymanning
Yes! What's the list of supported extensions for animations?

[2018-06-04 16:12] jeremymanning commented on #120
Everything is done through `ffmpeg`-- so whatever formats are supported in your install of `ffmpeg` should be supported by `hypertools`.  To get a list of formats (in Terminal), type `ffmpeg -formats` and to get a list of supported codecs, type `ffmpeg -codecs`.

[2018-06-04 17:35] qihongl commented on #120
Thanks again! @jeremymanning

Hm... Then I guess maybe the error message is more complicated than I thought.

When I set `animate = False`, I can save it (e.g. as `.png`), but when I set `animate = True`, I can't save it in any format (error message attached below), such as `.gif`, although `.gif` is listed in `ffmpeg -formats`. Has you seen this error before? I can save the geo object if anyone w

[2018-06-04 18:16] andrewheusser commented on #120
hey @qihongl - could you save to mp4? e.g.: https://github.com/ContextLab/hypertools/blob/master/examples/save_movie.py

[2018-06-04 18:38] qihongl commented on #120
Cool! It works! Thank you so much! @andrewheusser @jeremymanning
I still prefer `.gif` though, is this currently supported?

[2018-06-04 18:46] andrewheusser commented on #120
It's on the list, but hasn't been implemented yet.  You are welcome to give it a shot if you'd be up for it!

Since it's working with mp4, you can easily save it as a gif with ffmpeg outside of hypertools: https://superuser.com/questions/556029/how-do-i-convert-a-video-to-gif-using-ffmpeg-with-reasonable-quality

[2018-06-04 18:59] qihongl commented on #120
@andrewheusser Thank you so much! 👍 I might try that!

[2018-06-11 15:17] andrewheusser commented on #211
It's not currently possible, but I agree that it would be a nice feature. @jeremymanning - do you agree? If so, I'll put it on the list

[2018-07-11 23:19] jeremymanning commented on #211
yes, this would be nice!

[2018-07-12 17:06] qihongl commented on #211
Thanks! Looking forward to it!

[2018-07-17 02:34] jeremymanning commented on #195
@andrewheusser let's remove hdbscan from requirements (and all hdbscan-related features) until we can work this one out.  i'm also encountering hdbscan install issues...

if the user wants to use hdbscan, we could:
- try importing hdbscan and running the analysis
- if that fails, throw a "hdbscan not installed" error

that way if the user has hdbscan installed already, they can use it.  but if not

[2018-07-17 02:57] galenwilkerson commented on #195
Unsubscribe please

Thanks

On Mon, Jul 16, 2018, 10:34 PM Jeremy Manning <notifications@github.com>
wrote:

[2018-07-17 03:05] lmcinnes commented on #195
@andrewheusser It seems more likely that the issue is scikitlearn-contrib/hdbscan@222 -- at least as far as the build failure is concerned. That should be fixed in master. I can try pushing a new sdist to PyPI to resolve?

[2018-07-17 11:54] andrewheusser commented on #195
@jeremymanning - what is the error that you are getting? is it related to `dist_metrics.pyx`?

@galenwilkerson - you can unsubscribe from this issue by clicking unsubscribe on the right side of this page under 'notifications': https://help.github.com/articles/subscribing-to-and-unsubscribing-from-notifications/

[2018-07-17 13:21] jeremymanning commented on #195
@andrewheusser here's the full output (this is on Python 3.7 and MacOS 10.13):
[code]

[2018-07-17 13:30] andrewheusser commented on #195
thanks! hey @lmcinnes - are you familiar with this error? its looks like a different issue than what Galen ran into. perhaps something new introduced in python 3.7?

@jeremymanning - we don't test python 3.7 yet, i'll put that on the list for the next release

[2018-07-17 15:18] lmcinnes commented on #195
Yes, I'm familiar with this -- it's a Cython/python3.7 issue. I was going
to try to fix it in the next few days. It will require people to have
cython to install hdbscan which is annoying, but I know of no other way to
work aropund the binary incompatibilities between 3.x and 3.7.

On Tue, Jul 17, 2018 at 9:30 AM Andy Heusser <notifications@github.com>
wrote:

[2018-07-17 15:25] jeremymanning commented on #195
@lmcinnes that sounds great.  I agree that it's annoying to add another requirement, but it seems like the right way to go.

More generally for the toolbox, I'm wondering if we should take a slightly different approach to dependencies, now that we're starting to rely more and more on external dependencies.  I'll add a new issue about this, but my general thinking is that we could:
- Include only a

[2018-07-17 15:26] jeremymanning opened #212 "Dependencies and installation via pip"
I'm wondering if we should take a slightly different approach to dependencies, now that we're starting to rely more and more on external dependencies.  My general thinking is that we could:
- Include only a minimal basic set of very stable requirements in requirements.txt that support the minimum viable functionality of hypertools
- Provide an optional set of requirements (potentially installable

[2018-08-03 14:34] andrewheusser commented on #195
In the hypertools 0.5.1 release, hdbscan is an optional install. We are planning to move to this model for all non-core dependencies to keep hypertools as stable as possible

[2018-08-03 14:34] #195 closed

[2018-08-03 14:36] andrewheusser commented on #200
@mortimer125 did you resolve this issue? if not, i'll reopen

[2018-08-03 14:36] #200 closed

[2018-08-03 14:41] #181 closed

[2018-08-03 14:42] andrewheusser commented on #172
hi @svadams this issue should be fixed now. please reopen if its not, thanks!

[2018-08-03 14:42] #172 closed

[2018-08-05 22:53] jeremymanning opened #214 "Missing wiki-models data?"
`hyp.load('wiki-model')` throws this error:
[code]

Update (from @lucywowen): looks like it's just mis-named (`wiki_model`)

[2018-08-05 22:53] jeremymanning commented on #214
Tagging as a bug so that the documentation can be updated...

[2018-08-05 23:25] themeditatingbrain opened #215 "remove stop words from wiki model"
The wiki model (and possibly the other text models?) needs to be updated to remove stop words.

[2018-08-06 03:46] jeremymanning opened #216 "replace `as_matrix()` with `.values` in `format_data`"
The new version of pandas throws the following warning during calls to `format_data`:
[code]
We should use `df_num.values` rather than `df_num.as_matrix()`

[2018-08-06 19:37] transedward opened #217 "Feature request: return projection matrix for hypertools.tools.procrustes?"
In current implementation of `hypertools.tools.procrustes`,  it only returns the aligned source matrix.
I think it would be great if we can return the projection matrix so that we can use it to transform other data.

I am thinking (1) returning as a second output parameter (2) adding an option to let user choose if the projection matrix should be return (maybe default: False)

[2018-08-06 19:38] transedward commented on #217
If we agree on a solution, I am glad to work on it and submit a PR.

[2018-08-07 09:42] logic1988 opened #218 "Can't find init.tcl"
Traceback (most recent call last):
  File "test.py", line 7, in <module>
    geo.plot(fmt='.')
  File "/home/usrname/.py2env/lib/python2.7/site-packages/hypertools/datageometry.py", line 189, in plot
    return plotter(d, **new_kwargs)
  File "/home/usrname/.py2env/lib/python2.7/site-packages/hypertools/plot/plot.py",
line 420, in plot
    ax=ax)
  File "/home/usrname/.py2env/lib/python2.7/site-pa

[2018-08-07 10:17] logic1988 commented on #218
I Solved it by download tcl8.5.18 from https://sourceforge.net/projects/tcl/files/Tcl/8.5.18/tcl8.5.18-src.tar.gz/download .

[2018-08-07 10:17] #218 closed

[2018-08-07 12:40] andrewheusser commented on #217
@transedward - It's a good idea, but part of a larger revamping that would be required to keep the API consistent across all transformers (e.g. alignment, reduction etc).  The way we've talked about doing this is saving out the entire transformation pipeline of fit models inside of a `geo` (the data object returned when hyp.plot() is called). Currently, the steps are saved, but the fit models are

[2018-08-07 12:41] andrewheusser commented on #217
here's the issue: #161

[2018-08-07 16:33] andrewheusser commented on #215
done

[2018-08-07 16:33] #215 closed

[2018-10-01 12:37] andrewheusser opened #220 "matplotlib 3.0.0 bug affecting plots"
@jeremymanning - There is a bug in the latest release of matplotlib (3.0.0) that causes some plots to get compressed along a single axis (https://github.com/matplotlib/matplotlib/issues/12239). I found that this affected hypertools when I upgraded matplotlib.  There is an issue for it and it looks like people are currently working on a fix. I was able to get around it by reverting back to matplotl

[2018-10-01 14:55] jeremymanning commented on #220
@andrewheusser that's an annoying bug!  Good catch.  And I agree with your proposed fixed-- let's require `matplotlib>=1.5.1,<3.0.0`.  Do you want to do the honors and then push a minor 0.5.2 release?

[2018-10-03 14:32] jjstrydom opened #221 "Inconsistency detected by ld.so"
When doing a clean install of just `hypertools` and `sklearn` and running the following code example:
[code]

I get the error:

```Inconsistency detected by ld.so: dl-version.c: 224: _dl_check_map_versions: Assertion `needed != NULL' failed!```

I tested this on ubuntu 18.04 on two separate machines, and in a ubuntu 16.04 docker container. On windows it worked fine. All were tested with Python 3.6

[2018-10-09 12:07] andrewheusser commented on #221
@jjstrydom thanks for the report!  - Unfortunately, I can't address this directly since it's an issue with UMAP. We are moving towards making all non-essential packages optional installs, which will help to make hypertools more reliable and maintainable. Looping in @lmcinnes here in case he's run across this error

[2018-10-09 12:15] jeremymanning commented on #221
Can we require numbs<=0.39?

[2018-10-09 18:19] lmcinnes commented on #221
I tried pushing a new version of umap to pip that should address this
issue. Hopefully that may help.

On Tue, Oct 9, 2018 at 8:15 AM Jeremy Manning <notifications@github.com>
wrote:

[2018-10-12 15:43] andrewheusser commented on #221
Thanks @lmcinnes!! We'll check it out

[2019-07-01 08:24] flashpixx opened #223 "roation & saving not working on large legends"
I have got a large legend of numerical data, so the legend is larger than the window size and on clicking the _save button_ an exception is thrown

[code]

It would be nice, that the lgend is fit to the window size and/or the saving button works also if the legend is larger than the window

[2019-08-02 16:42] logannc opened #224 "[Documentation Request] How to Reproduce `hypertools.plot(...)` from constituent parts"
This is basically a shameless spin off of https://stackoverflow.com/questions/57330300/how-to-reproduce-hypertools-clusters-identified-from-hypertools-plot

I am trying to take the results of using `hypertools.plot(...)`, but my attempts to replicate them by using other parts of hypertools are yielding surprisingly different results.

I would like some guidance on this, but I also feel like having

[2019-09-04 20:49] lrq3000 opened #225 "Suggestion: animating uncertainty"
If I understand correctly the doc, hypertools animation is currently mainly meant to plot timeseries.

Instead of timeseries, would it be possible to use the animation to plot the uncertainty in the variable? Kind of like visually representing a bootstrap sampling. This would make hypertools a great candidate to be used as a [hypothetical outcome plot](https://medium.com/hci-design-at-uw/hypotheti

[2019-12-15 21:27] paxtonfitzpatrick opened #226 "passing ndims to hypertools.reduce erases all other model params"
Setting model-specific params is essentially impossible.

If you pass `hypertools.reduce` a dictionary of model params along with a model in the `reduce` argument, and also pass `ndims`, all options except for the chosen model are erased.

If you try to circumvent this by passing `n_components` to the params dict and not touching the `ndims` argument, line 122 in `hypertools.reduce` causes the fun

[2019-12-16 17:20] paxtonfitzpatrick opened #227 "Allow option to use DataGeometry objects à la scikit-learn pipelines"
Currently, if you want to repeatedly transform text samples with `hypertools.tools.format_data()` using the same parameters, the function re-fits both the vectorizer and text model on each call.  This ends up being fairly inefficient, and for expensive/numerous operations, makes working directly with the underlying `sklearn` classes the better option.

We could add an argument to return the fit mo

[2019-12-18 17:39] #216 closed

[2019-12-18 17:39] #226 closed

[2019-12-20 20:16] paxtonfitzpatrick opened #232 "dependency install bug for non-UTF-8 locales"
In the rare case that someone tries to `pip install hypertools` in an environment that doesn't have UTF-8 set as the default encoding (usually minibase Linux distros or Docker images where the language wasn't set when building), installing the dependency `umap-learn` will fail silently.  This is due to an issue with the version of UMAP being installed -- described and fixed lmcinnes/umap#330 and H

[2019-12-20 21:35] paxtonfitzpatrick opened #233 "version info in config.py doesn't match real version"
[code]
but
[code]

My mistake here 🙁 I forgot to bump the version number in `hypertools/config.py` to match the new release tag.

[2019-12-20 21:45] #233 closed

[2020-02-26 07:59] mhlr opened #235 "animate=True does not work in Google Colab"
animate=False renders static plots, but animate=True renders static empty boxes.

https://colab.research.google.com/drive/10LoEodWC7PeMYfMnEf85eK97rXNtS7lh#scrollTo=vpUphrib4qGs

[2020-03-18 00:36] mhlr opened #236 "extract cluste and latent variable data from the result of ht.plot(x, reduce=..., cluster=..)"
Is it possible to extract intermediate data from plot or do I need to call `reduce` and `cluster` separately in order to capture the intermediate data

[2020-03-23 16:44] danieltomasz opened #237 "dependencies bump to allow scikit-learn 0.22"
In the last version of dependencies is stated scikit-learn<0.22,  is there any reason to hold it on 0.21?

[2020-04-07 16:02] matkosoric opened #238 "Extra ticks causing improper readme formatting"
Three extra backticks in readme file, near @ARTICLE, are causing improper markdown formatting for the rest of the document. Here is screenshot:

![extra ticks](https://user-images.githubusercontent.com/24875759/78692190-cf664f80-78f9-11ea-8b0d-3fcbe6850743.PNG)

[2020-05-01 12:54] #238 closed

[2020-09-30 11:53] Shridharpawar77 commented on #200
Hello, @andrewheusser did you resolved this issue?

[2020-10-03 10:40] paxtonfitzpatrick commented on #237
hi @danieltomasz, so sorry for the delay!  We disallowed `scikit-learn==0.22` because of a bug in the `CountVectorizer` class.  The bug's been fixed in 0.23, so I've bumped the dependency spec to allow `scikit-learn>=0.19.1,!=0.22` in the new release. You can `pip install --upgrade hypertools` to get it.

[2020-10-03 10:40] #237 closed

[2020-10-03 10:43] paxtonfitzpatrick commented on #232
This is now fixed in [v0.6.3](https://github.com/ContextLab/hypertools/releases/tag/v0.6.3)

[2020-10-03 10:43] #232 closed

[2020-10-07 00:39] paxtonfitzpatrick opened #242 "revamp setting matplotlib backend"
the `plot` submodule currently tries to set the backend to `TkAgg` when `hypertools` Is first imported, and shows a warning if it fails.
https://github.com/ContextLab/hypertools/blob/9ac3dc11123419f2f00d596ac5920db2486cc0a1/hypertools/plot/__init__.py#L1-L10

This creates a whole bunch of issues:
1. silently changes the backend that may have been previously set by the user
2. If `tkinter` isn't in

[2020-10-07 00:55] paxtonfitzpatrick opened #243 "plotting with hypertools overwrites existing matplotlib style"
I'm not entirely sure why this happens, but calls to `hypertools.plot` seem to alter the style of subsequent non-hypertools plots. Example:
[code]
[code]
[code]
![Screen Shot 2020-10-06 at 8 46 27 PM](https://user-images.githubusercontent.com/26118297/95274890-02d85700-0815-11eb-861f-35ff62d6be17.png)
[code]
![Screen Shot 2020-10-06 at 8 46 51 PM](https://user-images.githubusercontent.com/26118297

[2020-10-09 00:52] jeremymanning opened #244 "better tests"
many of our tests are not sufficiently rigorous-- e.g., they check that "something" gets returned, or that the proper datatype is returned, rather than checking specific values for a set of test cases.

we should improve our pytests to better check that both datatypes *and* values are correct.

[2021-01-06 14:11] #242 closed

[2021-01-06 14:11] #243 closed

[2021-08-07 15:16] jeremymanning opened #251 "tests for backend management"
the matplotlib backend management code only works in ipython/jupyter notebook-based environments.  we could use some of the tricks @paxtonfitzpatrick is using in the [davos](https://github.com/ContextLab/davos) package to run tests for that code.

[2022-02-08 22:04] paxtonfitzpatrick opened #252 "update available plotting backends to reflect changes in matplotlib"
matplotlib dropped support for the Qt4Agg backend since Qt4 reached EOL back in 2015, so hypertools's backend management code now throws a ValueError when checking whether it's available, which we weren't expecting and therefore isn't caught.

matplotlib now supports Qt5 and Qt6, but has also combined them into a single "QtAgg" backend rather than separate them by version

need to:
- remove Qt4Agg

[2022-02-09 01:22] paxtonfitzpatrick opened #253 "arm64/Apple Silicon compatibility"
Installing hypertools currently fails on Apple Silicon Macs (and arm64 architectures in general). There are a few reasons for this I've figured out so far:

- [x] requirement: `scikit-learn>=0.19.1,!=0.22,<0.24`
   - scikit-learn [started releasing arm64-compatible wheels with v1.0.2](https://github.com/scikit-learn/scikit-learn/pull/21827).  We have `<0.24` pinned because the layout of the `sklea

[2022-02-09 01:58] #252 closed

[2022-02-12 03:47] jeremymanning opened #257 "sphinx documentation not building"
look into why [readthedocs](https://hypertools.readthedocs.io) isn't updating...

[2022-05-31 21:00] rob-miller opened #258 "(almost) no interactive output on MacOS"
Apologies for the truly helpless startup question, but I am really struggling just getting to basic functionality on Mac Monterey.

Sample:

    geo = hyp.load("weights_avg")
    geo.plot(title="bar")
    input("press a key")

If I debug this in VSCode, and set a breakpoint on any line, I see`Backend MacOSX is interactive backend. Turning interactive mode on.` and get a widget that I can twirl the

[2022-06-07 21:08] paxtonfitzpatrick commented on #258
Hey @rob-miller, sorry for the delay getting back to you. There are a few different things going on here:

1. `geo.plot(title="bar")` _draws_ the plot to the `matplotlib` figure canvas, but doesn't by itself _display_ it. After you create or "draw" a plot with either `matplotlib` or a `matplotlib`-based library like `hypertools` or [`seaborn`](https://github.com/mwaskom/seaborn), you'll typically

[2022-06-10 18:20] rob-miller commented on #258
Thank you very much, very helpful and informative!

I encourage putting a complete example like the first one somewhere (more?) prominent on the website.

[2022-06-10 18:20] #258 closed

[2022-06-10 20:59] paxtonfitzpatrick commented on #253
As of [llvmlite v0.38.1](https://numba.discourse.group/t/llvmlite-0-38-1/1340) and [numba v0.55.2](https://numba.discourse.group/t/ann-numba-0-55-2/1353), both packages now support Apple Silicon! 🎉

MacOSX ARM64 binary wheels are now available on PyPI for Python 3.8+ & MacOS 10.14+  ([llvmlite](https://pypi.org/project/llvmlite/0.38.1/#files), [numba](https://pypi.org/project/numba/0.55.2/#files))

[2022-06-10 20:59] #253 closed

[2022-10-29 02:22] paxtonfitzpatrick commented on #126
This was implemented in [v0.7.0](https://github.com/ContextLab/hypertools/releases/tag/v0.7.0). Closing as resolved.

[2022-10-29 02:22] #126 closed

[2022-10-29 02:34] paxtonfitzpatrick commented on #194
Since not all hypertools updates involve changes to the datasets, they don't necessarily need to be removed and re-downloaded every time. However, as of [v0.8.0](https://github.com/ContextLab/hypertools/releases/tag/v0.8.0), hypertools now throws a `HypertoolsIOError` suggesting deleting the dataset cache when loading an example dataset fails (because it was created using an an older hypertools ve

[2022-10-29 02:34] #194 closed

[2022-10-29 02:48] paxtonfitzpatrick commented on #210
Duplicated by #243 (oops!) and fixed in [v0.7.0](https://github.com/ContextLab/hypertools/releases/tag/v0.7.0)

Implemented here:
https://github.com/ContextLab/hypertools/blob/e7b744666bf20e352d66f0713deab264a4473294/hypertools/plot/backend.py#L798-L861

[2022-10-29 02:48] #210 closed

[2022-10-29 03:09] paxtonfitzpatrick commented on #221
closing as resolved by lmcinnes/umap#150. That issue reports the problem is fixed as of `numba==0.43.1`, we require `umap-learn>=0.4.6`, and `umap-learn==0.4.6` requires `numba>=0.46`. So this issue will no longer present when using hypertools.

If anyone encounters this issue, try upgrading hypertools to v0.6.3 or later. If the issue persists, please feel free to reopen this.

[2022-10-29 03:09] #221 closed